<form method="get">
    <div class="row">
        <div class="col sm-6 xs-12">
            <div class="form-group">
                {{ filter.form.text.label_tag }}
                {{ filter.form.text }}
                {{ filter.form.text.errors }}
            </div>
        </div>
        <div class="col sm-4 xs-9">
            <div class="form-group">
                {{ filter.form.difficulty.label_tag }}
                {{ filter.form.difficulty }}
                {{ filter.form.difficulty.errors }}
            </div>
        </div>
        <div class="col sm-2 xs-3 text-center">
            <br>
            <button type="submit">OK</button>
        </div>
    </div>
</form>