<input class="modal-state" id="frequencyHistoryModal" type="checkbox">
<div class="modal">
    <label class="modal-bg" for="frequencyHistoryModal"></label>
    <div class="modal-body">
        <label class="btn-close" for="frequencyHistoryModal">X</label>
        <h5 class="modal-subtitle">Historique de modification de <span id="user">...</span></h5>
        <p class="modal-text" id="frequencyHistoryTable" style="max-height: 350px; overflow-y: auto;"></p>
        <div class="text-right">
            <label class="paper-btn" for="frequencyHistoryModal">Fermer</label>
        </div>
    </div>
</div>