<input class="modal-state" id="frequencyUpdatedModal" type="checkbox">
<div class="modal">
    <label class="modal-bg" for="frequencyUpdatedModal"></label>
    <div class="modal-body">
        <label class="btn-close" for="frequencyUpdatedModal">X</label>
        <h5 class="modal-subtitle">Succès !</h5>
        <p class="modal-text" id="modalText"></p>
        <div class="text-right">
            <label class="paper-btn" for="frequencyUpdatedModal">Parfait !</label>
        </div>
    </div>
</div>