{% if request.user.is_authenticated or player_frequencies %}
    <h5 class="margin-bottom-small">Fréquence de réussites des joueurs :</h5>
    <table class="table-alternating">
        <thead>
            <tr>
                <th>Profil</th>
                <th>Fréquence de réussite</th>
                <th>Historique</th>
            </tr>
        </thead>
        <tbody>
            {% if request.user.is_authenticated %}
                <tr>
                    <td><a href="{% url 'kendama:profil' request.user.username %}">{{ request.user }}</a></td>
                    <td>{{ form.frequency }}</td>
                    <td>
                        <span id="lastUpdate" title="Date de dernière modification">
                            {{ authenticated_user_frequency.history.first.history_date }}
                        </span>
                        {% include 'kendama/components/frequency_history_button.html' with user=request.user %}
                    </td>
                </tr>
            {% endif %}
            {% for player_frequency in player_frequencies %}
                {% if player_frequency.player.user != request.user %}
                    <tr>
                        <td>
                            <a href="{% url 'kendama:profil' player_frequency.player.user.username %}">
                                {{ player_frequency.player }}
                            </a>
                        </td>
                        <td>{{ player_frequency.get_frequency_display }}</td>
                        <td>
                            {% include 'kendama/components/frequency_history_button.html' with user=player_frequency.player %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {# TODO Montrer la répartition en camembert des fréquences #}
{% endif %}