{% load static kendama_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Kendama{% endblock %} | Kendama | Benbb96</title>
    {% if debug %}
        <link rel="stylesheet" href="{% static 'kendama/css/paper.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'kendama/css/paper.min.css' %}">
    {% endif %}
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" href="{% static 'kendama/css/style.css' %}">
    {% include 'favicon.html' %}
</head>
<body>
<div class="paper container">
    <nav class="border fixed split-nav">
        <div class="nav-brand">
            <h3><a href="{% url 'base:home' %}">Benbb96</a></h3>
        </div>
        <div class="collapsible">
            <input id="collapsible1" type="checkbox" name="collapsible1">
            <button>
                <label for="collapsible1">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </label>
            </button>
            <div class="collapsible-body">
                <ul class="inline">
                    <li><a href="{% url 'kendama:tricks' %}">Tricks</a></li>
                    <li><a href="{% url 'kendama:combos' %}">Combos</a></li>
                    <li><a href="{% url 'kendama:ladders' %}">Ladders</a></li>
                    <li><a href="{% url 'kendama:kendamas' %}">Kendamas</a></li>
                    <li></li>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{{ request.user.profil.get_absolute_url }}">
                                {# TODO Faire une page spécial pour le user sur Kendama #}
                                {{ request.user }}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                Déconnexion
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}?next={{ request.path }}">
                                Se connecter
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <h2 class="margin-top-small margin-bottom-small">{% block h2_title %}Kendama Tricks{% endblock %}</h2>

    {% if messages %}
        <div class="row flex-spaces">
            {% for message in messages %}
                <input class="alert-state" id="alert-{{ forloop.counter }}" type="checkbox">
                <div class="alert alert-{{ message.level|color_class }} dismissible">
                    {{ message }}
                    <label class="btn-close" for="alert-{{ forloop.counter }}">X</label>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}
        <p>Bienvenue sur la partie Kendama de mon site !</p>
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        const headers = {
            "Content-type": "application/json; charset=UTF-8",
            "X-CSRFToken": Cookies.get('csrftoken')
        }

        function status(response) {
            if (response.status >= 200 && response.status < 300) {
                return Promise.resolve(response)
            } else {
                return Promise.reject(new Error(response.statusText))
            }
        }

        function json(response) {
            return response.json()
        }

        function text(response) {
            return response.text()
        }

        function catchError(error) {
            console.log('Request failed', error);
            alert("Une erreur s'est produite lors de la requête")
        }

        function updateFrequency(response) {
            // Update lastUpdate date
            document.getElementById('lastUpdate').innerText = response.date
            // Update display response message
            document.getElementById('modalText').innerText = response.message
            // Open modal
            document.getElementById('frequencyUpdatedModal').checked = true
        }

        function frequencyHistory(response) {
            console.log(response)
            // Set the frequency history table inside the modal
            document.getElementById('frequencyHistoryTable').innerHTML = response
            // Open modal
            document.getElementById('frequencyHistoryModal').checked = true
        }
    </script>
    {% block javascript %}{% endblock %}
</div>
</body>
</html>