{% extends 'kendama/base.html' %}

{% load bootstrap3 %}

{% block title %}{% if combo %}Combo {{ combo.name }}{% else %}Création Combo{% endif %}{% endblock %}
{% block h2_title %}
    <a href="{% url 'kendama:combos' %}">Combos</a> >
    {% if combo %}{{ combo }}{% else %}Nouveau{% endif %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <h4>Les tricks du combo :</h4>
        {{ combo_trick_formset.management_form }}
        {% for error in combo_trick_formset.non_form_errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        <table class="margin-bottom">
            <thead>
            <tr>
                <th>Trick</th>
                <th></th>
                <th>Ordre</th>
                <th>Supprimer du combo ?</th>
            </tr>
            </thead>
            <tbody id="tricksForm">
            {# Empty form example in order to copy it when adding more rows #}
            <tr id="emptyform_wrapper" style="display: none">
                {% include 'kendama/components/combo_trick_form_row.html' with form=combo_trick_formset.empty_form %}
            </tr>
            {% for form in combo_trick_formset %}
                <tr>
                    {% include 'kendama/components/combo_trick_form_row.html' %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <button type="button" class="btn-small" id="addMore">Ajouter plus de ligne</button>
        </p>
        <div class="row flex-edges">
            <div class="col-6">
                <input type="submit" class="paper-btn btn-secondary" value="Enregistrer">
            </div>
            <div class="col-6 text-right">
                <a class="paper-btn btn-primary" href="{% if combo %}{{ combo.get_absolute_url }}{% else %}{% url 'kendama:combos' %}{% endif %}">
                    Annuler
                </a>
            </div>
        </div>
    </form>

    {# Trick Creation Modal Form #}
    <input class="modal-state" id="trickFormModal" type="checkbox">
    <div class="modal">
        <label class="modal-bg" for="trickFormModal"></label>
        <div class="modal-body">
            <label class="btn-close" for="trickFormModal">X</label>
            <h5 class="modal-subtitle">Création d'un nouveau trick</h5>
            <form id="trickForm">
                {% csrf_token %}
                {{ trick_form.as_p }}
                <div class="row flex-edges">
                    <div class="col-6">
                        <button type="submit" class="btn-secondary">Créer</button>
                    </div>
                    <div class="col-6 text-right">
                        <label for="trickFormModal" class="paper-btn">Annuler</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let selectIdToUpdate;
        const form = document.getElementById('trickForm')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            // Clean errors first
            document.querySelectorAll('ul.errorlist').forEach(el => {el.remove()})
            const formData = new FormData(form)
            fetch('{% url 'kendama:create-trick-from-modal' %}', {
                method: 'post',
                body: formData
            }).then(status)
            .then(json)
            .then(function (response) {
                if (response.success) {
                    // Close modal
                    document.getElementById('trickFormModal').checked = false
                    // Add new option in each select
                    document.querySelectorAll('select.trickSelect').forEach(select => {
                        let option = document.createElement('option')
                        option.value = response.id
                        // Select option if it is the row where we clicked
                        if (select.id === selectIdToUpdate) {
                            option.selected = true
                        }
                        option.appendChild(document.createTextNode(response.name))
                        select.appendChild(option)
                    })
                } else {
                    alert(response.message)
                    for (const [key, errors] of Object.entries(response.errors)) {
                        // Display errors
                        let errorList = document.createElement("ul");
                        errorList.className = 'errorlist'
                        errors.forEach((error) => {
                            const errorItem = document.createElement('li')
                            errorItem.appendChild(document.createTextNode(error))
                            errorList.appendChild(errorItem)
                        })
                        document.getElementById('id_trick-' + key).parentElement.appendChild(errorList)
                    }
                }
            })
            .catch(catchError);
        })

        // Add more row for combo tricks
        document.getElementById('addMore').addEventListener('click', function () {
            let total_form = document.getElementById('id_combo_tricks-TOTAL_FORMS');
            let form_idx = total_form.value;
            const new_row = document.createElement('tr')
            // Get empty form wrapper and replace the prefix with future form id
            new_row.innerHTML = document.getElementById('emptyform_wrapper').innerHTML.replace(/__prefix__/g, form_idx)
            // Then append it at the end of the table
            document.getElementById('tricksForm').appendChild(new_row);
            total_form.value = parseInt(form_idx) + 1;
        });
    </script>
{% endblock %}