{% extends 'kendama/base.html' %}

{% block title %}Suppression Combo{% endblock %}
{% block h2_title %}
    <a href="{% url 'kendama:combos' %}">Combos</a> > {{ combo }}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h4>Êtes-vous sûr de vouloir supprimer le combo "{{ combo }}"?</h4>
        <p>Les fréquences de réussite qui lui sont liées seront également supprimées.</p>
        <input type="submit" class="paper-btn btn-danger" value="Oui, je suis sûr">
        <a href="{{ combo.get_absolute_url }}" class="paper-btn btn-primary">Annuler</a>
    </form>
{% endblock %}