{% extends 'kendama/base.html' %}

{% load bootstrap3 %}

{% block title %}{% if kendamatrick %}Combo {{ combo.name }}{% else %}Création Combo{% endif %}{% endblock %}
{% block h2_title %}
    <a href="{% url 'kendama:combos' %}">Combos</a> >
    {% if combo %}{{ combo }}{% else %}Nouveau{% endif %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <h4>Les tricks du combo :</h4>
        {{ combo_trick_formset.management_form }}
        {% for error in combo_trick_formset.non_form_errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
        <table class="margin-bottom">
            <thead>
            <tr>
                <th>Trick</th>
                <th></th>
                <th>Ordre</th>
                <th>Supprimer du combo ?</th>
            </tr>
            </thead>
            <tbody>
            {% for form in combo_trick_formset %}
                <tr>
                    {{ form.id }}
                    <td>
                        {{ form.trick }}
                        {{ form.trick.errors }}
                    </td>
                    <td>
                        <label class="paper-btn btn-small" for="trickFormModal" title="Créer un nouveau trick"
                               data-trick-id="{{ form.trick.id_for_label }}">
                            +
                        </label>
                    </td>
                    <td>
                        {{ form.order }}
                        {{ form.order.errors }}
                    </td>
                    <td class="form-group">
                        <label class="paper-check">
                            {{ form.DELETE }}<span></span>
                        </label>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row flex-edges">
            <div class="col-6">
                <input type="submit" class="paper-btn btn-secondary" value="Enregistrer">
            </div>
            <div class="col-6 text-right">
                <a class="paper-btn btn-primary" href="{% if combo %}{{ combo.get_absolute_url }}{% else %}{% url 'kendama:combos' %}{% endif %}">
                    Annuler
                </a>
            </div>
        </div>
    </form>

    {# Trick Creation Modal Form #}
    <input class="modal-state" id="trickFormModal" type="checkbox">
    <div class="modal">
        <label class="modal-bg" for="trickFormModal"></label>
        <div class="modal-body">
            <label class="btn-close" for="trickFormModal">X</label>
            <h5 class="modal-subtitle">Création d'un nouveau trick</h5>
            <form id="trickForm">
                {% csrf_token %}
                {{ trick_form.as_p }}
                <div class="row flex-edges">
                    <div class="col-6">
                        <button type="submit" class="btn-secondary">Créer</button>
                    </div>
                    <div class="col-6 text-right">
                        <label for="trickFormModal" class="paper-btn">Annuler</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        let selectIdToUpdate;
        const form = document.getElementById('trickForm')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            // Clean errors first
            document.querySelectorAll('ul.errorlist').forEach(el => {el.remove()})
            const formData = new FormData(form)
            fetch('{% url 'kendama:create-trick-from-modal' %}', {
                method: 'post',
                body: formData
            }).then(status)
            .then(json)
            .then(function (response) {
                if (response.success) {
                    // Close modal
                    document.getElementById('trickFormModal').checked = false
                    // Add new option in each select
                    document.querySelectorAll('select.trickSelect').forEach(select => {
                        let option = document.createElement('option')
                        option.value = response.id
                        // Select option if it is the row where we clicked
                        if (select.id === selectIdToUpdate) {
                            option.selected = true
                        }
                        option.appendChild(document.createTextNode(response.name))
                        select.appendChild(option)
                    })
                } else {
                    alert(response.message)
                    for (const [key, errors] of Object.entries(response.errors)) {
                        // Display errors
                        let errorList = document.createElement("ul");
                        errorList.className = 'errorlist'
                        errors.forEach((error) => {
                            const errorItem = document.createElement('li')
                            errorItem.appendChild(document.createTextNode(error))
                            errorList.appendChild(errorItem)
                        })
                        document.getElementById('id_trick-' + key).parentElement.appendChild(errorList)
                    }
                }
            })
            .catch(catchError);
        })

        document.querySelectorAll('label[for=trickFormModal]').forEach(label => {
            label.addEventListener('click', function() {
                selectIdToUpdate = this.dataset.trickId
            })
        })
    </script>
{% endblock %}