{% extends 'kendama/base.html' %}

{% load kendama_tags %}

{% block title %}Combo {{ combo.name }}{% endblock %}
{% block h2_title %}
    <a href="{% url 'kendama:combos' %}">Combos</a> > {{ combo.name }}
{% endblock %}

{% block content %}
    <article class="article">
        <h3 class="article-title text-right">
            <a href="{% url 'kendama:combos' %}?difficulty={{ combo.difficulty }}">
                {{ combo.get_difficulty_display }}
            </a>
        </h3>
        <p class="article-meta">
            Créé par <a href="{{ combo.creator.get_absolute_url }}">{{ combo.creator }}</a>
            le <code title="{{ combo.created_at|date:'r' }}">{{ combo.created_at }}</code>
            {% if combo.updated_at %}
                et mis à jour le <code title="{{ combo.updated_at|date:'r' }}">{{ combo.updated_at }}</code>
            {% endif %}
        </p>
        {% if combo.description %}
            <p class="text-lead">{{ combo.description }}</p>
        {% endif %}

        <p>Liste des tricks du combo :</p>
        <ol>
            {% for trick in combo.tricks.all %}
                <li>
                    <a href="{{ trick.get_absolute_url }}">
                        {{ trick }}
                    </a>
                </li>
            {% endfor %}
        </ol>

        {% include 'kendama/components/table_frequency.html' with player_frequencies=combo.combo_players.all %}

        {% if 'youtube' in combo.tutorial_video_link %}
            <div class="video-responsive">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ combo.tutorial_video_link|youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endif %}
        <div class="row flex-spaces">
            {% if combo.tutorial_video_link %}
                <div class="col col-sm-6 col-xs-12 text-center">
                    <a class="paper-btn" href="{{ combo.tutorial_video_link }}" target="_blank">
                        Vidéo Tutoriel
                    </a>
                </div>
            {% endif %}
            {% if combo.creator.user == request.user %}
                <div class="col col-sm-6 col-xs-12 text-center">
                    <a class="paper-btn btn-secondary" href="{% url 'kendama:update-combo' combo.slug %}">
                        Modifier
                    </a>
                    <a class="paper-btn btn-danger" href="{% url 'kendama:delete-combo' combo.slug %}">
                        Supprimer
                    </a>
                </div>
            {% endif %}
        </div>
    </article>
{% endblock %}

{% block javascript %}
    <script>
        document.getElementById('id_frequency').addEventListener('change', function (event) {
            const frequency = event.target.value
            if (frequency === '' || frequency === undefined) {
                alert('Veuillez choisir une option !')
                return
            }
            fetch('{% url 'kendama:update_combo_player_frequency' combo.id %}', {
                method: 'post',
                headers: headers,
                body: JSON.stringify({frequency})
            }).then(status)
            .then(json)
            .then(function (response) {
                document.getElementById('lastUpdate').innerText = response.date
                alert(response.message)
            })
            .catch(catchError);
        })
    </script>
{% endblock %}