{% extends 'kendama/base.html' %}

{% load bootstrap3 %}

{% block title %}{% if kendamatrick %}Trick {{ kendamatrick.name }}{% else %}Création Trick{% endif %}{% endblock %}
{% block h2_title %}
    <a href="{% url 'kendama:tricks' %}">Tricks</a> >
    {% if kendamatrick %}{{ kendamatrick.name }}{% else %}Nouveau{% endif %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="paper-btn btn-secondary" value="Enregistrer">
        <a class="paper-btn btn-primary" href="{% if kendamatrick %}{{ kendamatrick.get_absolute_url }}{% else %}{% url 'kendama:tricks' %}{% endif %}">Annuler</a>
    </form>
{% endblock %}