{% extends 'kendama/base.html' %}

{% block title %}Suppression Trick{% endblock %}
{% block h2_title %}
    <a href="{% url 'kendama:tricks' %}">Tricks</a> > {{ kendamatrick }}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h4>Êtes-vous sûr de vouloir supprimer le trick "{{ kendamatrick }}"?</h4>
        <p>Il n'apparaîtra plus dans ses combos et les fréquences de réussite qui lui sont liées seront également supprimés.</p>
        <input type="submit" class="paper-btn btn-danger" value="Oui, je suis sûr">
        <a href="{{ kendamatrick.get_absolute_url }}" class="paper-btn btn-primary">Annuler</a>
    </form>
{% endblock %}