{% extends 'music/base_music.html' %}

{% load i18n %}

{% block music_title %}{% trans "Artists" %}{% endblock %}

{% block stylesheet %}
    {{ filter.form.media.css }}
{% endblock %}

{% block content %}
    <div class="ds-narrow ds-narrow--lg">
        <h2>{% trans "Artists" %}</h2>
        <details class="ds-details">
            <summary>Options de filtre</summary>
            <form method="get">
                {% include 'components/form.html' with form=filter.form %}
                <button type="submit" class="ds-btn ds-mt-4">Filtrer <i class="fa fa-filter" aria-hidden="true"></i></button>
            </form>
        </details>

        <div class="ds-table-wrap">
            <table class="ds-table ds-table--striped ds-text-center">
                <thead>
                    <tr>
                        <th class="ds-text-center">{% blocktrans %}Artist name{% endblocktrans %}</th>
                        <th class="ds-text-center">{% blocktrans %}First name / Last name{% endblocktrans %}</th>
                        <th class="ds-text-center">{% blocktrans %}Number of musics{% endblocktrans %}</th>
                        <th class="ds-text-center">{% blocktrans %}Number of featuring{% endblocktrans %}</th>
                        <th class="ds-text-center">{% blocktrans %}Number of remixes{% endblocktrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for artist in object_list %}
                        <tr>
                            <td>
                                <a href="{{ artist.get_absolute_url }}">{{ artist }}</a>
                            </td>
                            <td>{{ artist.full_name|default:'' }}</td>
                            <td><span class="ds-badge">{{ artist.musiques.count }}</span></td>
                            <td><span class="ds-badge">{{ artist.musiques_featuring.count }}</span></td>
                            <td><span class="ds-badge">{{ artist.remixes.count }}</span></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">
                                {% blocktrans %}No artist has been created yet...{% endblocktrans %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'components/pagination.html' %}
    </div>
{% endblock %}

{% block javascript %}
    {{ filter.form.media.js }}
{% endblock %}
