{% extends 'music/base_music.html' %}
{% load i18n humanize %}

{% block music_title %}{% trans "Artist" %} {{ artiste.nom }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="text-center">
                        {{ artiste.nom_artiste }}
                        {% if artiste.createur.user == request.user %}
                            <a href="{% url 'admin:music_artiste_change' artiste.id %}" class="btn btn-sm btn-default">
                                <i class="fa fa-edit"></i>
                            </a>
                        {% endif %}
                    </h2>
                </div>
                <div class="panel-body">
                    <div>
                        {% if artiste.full_name %}
                            <p>{{ artiste.full_name }}</p>
                        {% endif %}
                        {% if artiste.pays %}
                            <p>{% trans "Country" %} : {{ artiste.pays }}</p>
                        {% endif %}
                        {% if artiste.ville %}
                            <p>{% trans "City" %} : {{ artiste.ville }}</p>
                        {% endif %}
                        {% if artiste.site_web %}
                            <p>
                                {% trans "Website" %} :
                                <a href="{{ artiste.site_web }}" target="_blank">
                                    {{ artiste.site_web }} <i class="fa fa-external-link"></i>
                                </a>
                            </p>
                        {% endif %}
                        {% if artiste.mail_contact %}
                            <p>{% trans "Mail contact"%} :
                                <a href="mailto: {{ artiste.mail_contact }}">{{ artiste.mail_contact }}</a>
                            </p>
                        {% endif %}
                        {% if artiste.telephone_contact %}
                            <p>{% trans "Contact phone number" %} :
                                <a href="tel: {{ artiste.telephone_contact }}">{{ artiste.telephone_contact }}</a>
                            </p>
                        {% endif %}
                        {% if artiste.soundcloud_followers %}
                            <p>{% trans "Followers on Soundcloud" %} :
                                <span class="badge">{{ artiste.soundcloud_followers|intcomma }}</span>
                            </p>
                        {% endif %}
                        {# TODO Ajouter liens réseaux sociaux #}
                    </div>
                    {% if artiste.labels.exists %}
                        <h3>{% trans "Labels" %}</h3>
                        <ul>
                            {% for label in artiste.labels.all %}
                                <li>
                                    <a href="{{ label.get_absolute_url }}">{{ label.nom }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% include 'music/components/style_list_inline.html' with styles=artiste.styles.all %}
                </div>
                <div class="panel-footer">
                    {% blocktrans  with artiste_date=artiste.date_creation|date artiste_time=artiste.date_creation|time artiste_createur_url=artiste.createur.get_absolute_url artiste_createur=artiste.createur %}
                        Created on {{ artiste_date }} at {{ artiste_time }}
                        by <a href="{{ artiste_createur_url }}">{{ artiste_createur }}</a>.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <h2>{% trans "Musics" %}</h2>
            {% include 'music/components/table_musics.html' with musiques=artiste.all_musics %}
            {% if artiste.playlists.exists %}
                <h3>
                    {% blocktrans with artiste_name=artiste.nom_artiste %}Playlists with {{ artiste_name }}{% endblocktrans %} :
                </h3>
                {% include 'music/components/list_group_playlist.html' with playlists=artiste.playlists.all %}
            {% endif %}
        </div>
    </div>
{% endblock %}