{% extends 'music/base_music.html' %}
{% load i18n %}

{% block music_title %}{% trans "Artist" %} {{ artiste.nom }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="text-center">{{ artiste.nom_artiste }}</h2>
                </div>
                <div class="panel-body">
                    <div>
                        {% if artiste.full_name %}
                            <p>{{ artiste.full_name }}</p>
                        {% endif %}
                        {% if artiste.pays %}
                            <p>{% trans "Country" %} : {{ artiste.pays }}</p>
                        {% endif %}
                        {% if artiste.ville %}
                            <p>{% trans "City" %} : {{ artiste.ville }}</p>
                        {% endif %}
                        {% if artiste.site_web %}
                            <p>
                                {% trans "Website" %} :
                                <a href="{{ artiste.site_web }}" target="_blank">
                                    {{ artiste.site_web }} <i class="fa fa-external-link"></i>
                                </a>
                            </p>
                        {% endif %}
                        {% if artiste.mail_contact %}
                            <p>{% trans "Mail contact"%} :
                                <a href="mailto: {{ artiste.mail_contact }}">{{ artiste.mail_contact }}</a>
                            </p>
                        {% endif %}
                        {% if artiste.telephone_contact %}
                            <p>{% trans "Contact phone number" %} :
                                <a href="tel: {{ artiste.telephone_contact }}">{{ artiste.telephone_contact }}</a>
                            </p>
                        {% endif %}
                        {# TODO Ajouter liens réseaux sociaux #}
                    </div>
                    {% if artiste.labels.exists %}
                        <h3>{% trans "Labels" %}</h3>
                        <ul>
                            {% for label in artiste.labels.all %}
                                <li>
                                    <a href="{{ label.get_absolute_url }}">{{ label.nom }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if artiste.styles.exists %}
                        <h3>{% trans "Styles" %}</h3>
                        <ul>
                            {% for style in artiste.styles.all %}
                                <li>
                                    <a href="{{ style.get_absolute_url }}">
                                        {{ style.nom }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {% blocktrans  with artiste_date=artiste.date_creation|date artiste_time=artiste.date_creation|time artiste_createur_url=artiste.createur.get_absolute_url artiste_createur=artiste.createur %}
                        Created on {{ artiste_date }} at {{ artiste_time }}
                        by <a href="{{ artiste_createur_url }}">{{ artiste_createur }}</a>.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <h2>{% trans "Musics" %}</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Date add" %}</th>
                        <th>{% trans "View count" %}</th>
                        <th>{% trans "Liens" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for musique in artiste.all_musics %}
                        <tr>
                        <td>
                            <a href="{{ musique.get_absolute_url }}">
                                <b>{{ musique.titre_display }}</b>
                            </a>
                        </td>
                        <td>{{ musique.date_creation|date:'l j F Y, H:i' }}</td>
                        <td>{{ musique.nb_vue }}</td>
                        <td>
                            <ul class="list-inline">
                            {% for lien in musique.liens.all %}
                                <li>
                                    <a class="platformLink" data-link-id="{{ lien.id }}"
                                       data-link-url="{% url 'music:incremente_link_click_count' lien.id %}"
                                       href="{{ lien.url }}" target="_blank">
                                        {{ lien.get_plateforme_display }} <i class="fa fa-external-link"></i>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if artiste.playlists.exists %}
                <h3>
                    {% blocktrans with artiste_name=artiste.nom_artiste %}Playlists with {{ artiste_name }}{% endblocktrans %} :
                </h3>
                {% include 'music/list_group_playlist.html' with playlists=artiste.playlists.all %}
            {% endif %}
        </div>
    </div>
{% endblock %}