{% extends 'base.html' %}

{% load static i18n %}

{% block title %}{% block music_title %}{% endblock %} | {% trans "Music" %}{% endblock %}

{% block navbar %}
    {% include 'navbar.html' with music=True %}
{% endblock %}

{% block jumbotron_title %}<a href="{% url 'music:liste-playlists' %}">{% trans "Music" %}</a>{% endblock %}
{% block jumbotron_description %}
    {% blocktrans %}
        My new project to save all my playlists which are on my phone and with a link system to different
        platforms to listening to music
    {% endblocktrans %}
    <br>
    <a href="{% url 'music:liste-playlists' %}">Playlists</a> |
    <a href="{% url 'music:liste-musiques' %}">Musiques</a> |
    <a href="{% url 'music:liste-styles' %}">Styles</a> |
    <a href="{% url 'music:liste-labels' %}">Labels</a>
{% endblock %}

{% block javascript %}
    <script>
        $(() => {
            $('.platformLink').click(function () {
                $.post($(this).data('linkUrl'))
                    .done(response => {
                        if (response.success) {
                            // Met à jour le compteur du lien
                            $('.click_count#' + $(this).data('linkId')).text(response.click_count);
                        }
                    })
                    .fail((xhr, textStatus, errorThrown) => {
                        console.error( '(' + errorThrown + ') ' + (xhr.responseJSON !== undefined ? xhr.responseJSON.error : textStatus));
                    })
            })
        })
    </script>
{% endblock %}