{% extends 'music/base_music.html' %}
{% load i18n bootstrap3 fontawesome_5 %}

{% block music_title %}Création musique via URL{% endblock %}

{% block stylesheet %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>
                        Créer une musique depuis un lien
                        <a href="{{ playlist.get_absolute_url }}">{{ playlist.nom }}</a>
                    </h2>
                </div>
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}

                        <p>
                            Tu peux pré-remplir certains champs en collant un lien vers la musique dans
                            l'encart ci-dessous.
                        </p>

                        <div class="well">
                            <ul class="list-inline">
                                {{ link_form.as_ul }}
                                <li>
                                    <button class="btn btn-primary" type="button" id="addLink" style="display: none">
                                        Rechercher les infos
                                        {% fa5_icon 'arrow-alt-circle-down' %}
                                    </button>
                                </li>
                            </ul>
                            <div class="text-muted" id="full-title"></div>
                        </div>

                        {% bootstrap_form form %}
                        <div class="text-center">
                            <a href="{% url 'admin:music_artiste_add' %}" class="btn btn-default" target="_blank">
                                Créer Artiste
                            </a>
                            <a href="{% url 'admin:music_style_add' %}" class="btn btn-default" target="_blank">
                                Créer Style
                            </a>
                            <a href="{% url 'admin:music_label_add' %}" class="btn btn-default" target="_blank">
                                Créer Label
                            </a>
                            <a href="{% url 'admin:music_playlist_add' %}" class="btn btn-default" target="_blank">
                                Créer Playlist
                            </a>
                            <button class="btn btn-lg btn-primary">
                                {% fa5_icon 'check' %}
                                Valider
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media.js }}
    {% include 'music/components/auto_select_plateforme_script.html' %}
    <script>
        $(() => {
            $('#id_url').on('input', function () {
                $('#addLink').toggle($(this).val() !== '')
            })

            $('#addLink').on('click', () => {
                // Clear possible displayed artists and the full title
                $('#displayFetchedArtist').remove()
                $('#displayFetchedRemixedBy').remove()
                $('#full-title').text('')

                const url = $('#id_url').val()
                const plateforme = $('#id_plateforme').val()
                $.post('{% url 'music:get_music_info_from_link' %}', {url, plateforme})
                    .done(response => {
                        if (response.success) {
                            $('#full-title').text(response.full_title)

                            $('#id_titre').val(response.title)

                            if (response.artist.name) {
                                let option = new Option(response.artist.name, response.artist.id, true, true);
                                $('#id_artiste').append(option).trigger('change');
                            } else {
                                $('label[for=id_artiste]').after('<span style="margin-left: 10px" id="displayFetchedArtist">Nom récupéré via le lien : <b>' + response.artist +'</b></span>')
                            }

                            if (response.remixed_by.name) {
                                let option = new Option(response.remixed_by.name, response.remixed_by.id, true, true);
                                $('#id_remixed_by').append(option).trigger('change');
                            } else if (response.remixed_by) {
                                $('label[for=id_remixed_by]').after('<span style="margin-left: 10px" id="displayFetchedRemixedBy">Nom récupéré via le lien : <b>' + response.remixed_by +'</b></span>')
                            }

                            response.featuring.forEach(artist => {
                                let option = new Option(artist.name, artist.id, true, true);
                                $('#id_featuring').append(option).trigger('change');
                            })
                        } else {
                            alert(response.error)
                        }
                    }).fail(err => {
                        alert("Une erreur s'est produite. Voir les logs.")
                        console.error(err)
                    })
            })
        })
    </script>
{% endblock %}