{% extends 'music/base_music.html' %}
{% load i18n %}

{% block music_title %}{% trans "Label" %} {{ label.nom }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <h2>{% trans "Musics" %}</h2>
            {% include 'music/components/table_musics.html' with musiques=label.musiques.all %}
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="text-center">
                        {{ label.nom }}
                        {% if perms.music.change_label %}
                            <a href="{% url 'admin:music_label_change' label.id %}" class="btn btn-sm btn-default">
                                <i class="fa fa-edit"></i>
                            </a>
                        {% endif %}
                    </h2>
                </div>
                <div class="panel-body">
                    {% if label.description %}
                        <h3>{% trans "Description" %}</h3>
                        <p>{{ label.description|linebreaksbr }}</p>
                    {% endif %}
                    {% include 'music/components/style_list_inline.html' with styles=label.styles.all %}
                    {% if label.artistes %}
                        <h3>Artistes de ce label</h3>
                        {% if label.artistes.count > 4 %}
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title text-center">
                                        <a data-toggle="collapse" href="#collapse1">{% trans "See all..." %}</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    {% include 'music/playlist_artist_list.html' with artistes=label.artistes.all %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                            {% include 'music/playlist_artist_list.html' with artistes=label.artistes.all %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}