{% extends 'music/base_music.html' %}

{% load i18n %}

{% block music_title %}{% trans "Labels" %}{% endblock %}

{% block content_class %}content--wide{% endblock %}

{% block stylesheet %}
    {{ filter.form.media.css }}
{% endblock %}

{% block content %}
    <div>
        <h2>{% trans "Labels" %}</h2>
        <details class="ds-details">
            <summary>{% blocktrans %}Filter options{% endblocktrans %}</summary>
            <form method="get">
                {% include 'components/form.html' with form=filter.form %}
                <button type="submit" class="ds-btn ds-mt-4">Filtrer <i class="fa fa-filter" aria-hidden="true"></i></button>
            </form>
        </details>
        <div class="ds-list-group">
            {% for label in object_list %}
                <a class="ds-list-group__item ds-cluster" style="justify-content: space-between" href="{{ label.get_absolute_url }}">
                    <b>{{ label.nom }}</b>
                    <span class="ds-badge" title="{% trans "Nomber of music from this label" %}">
                        {{ label.musiques.count }}
                    </span>
                </a>
            {% empty %}
                <div class="ds-list-group__item">
                    {% blocktrans %}No labels has been created yet...{% endblocktrans %}
                </div>
            {% endfor %}
        </div>
        {% include 'components/pagination.html' %}
    </div>
{% endblock %}

{% block javascript %}
    {{ filter.form.media.js }}
{% endblock %}
