{% extends 'music/base_music.html' %}

{% load i18n bootstrap3 %}

{% block music_title %}{% trans "Musics" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <h2>
                {% trans "All Musics" %}
                <span class="pull-right">
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#filter">
                        Options de filtre <i class="fa fa-filter"></i>
                    </button>
                </span>
            </h2>

            <form method="get" id="filter" class="collapse">
                {% bootstrap_form filter.form %}
                {% buttons submit='Filtrer <i class="fa fa-filter"></i>' %}{% endbuttons %}
            </form>
            {% include 'music/components/table_musics.html' with musiques=page_obj%}
            {% include 'components/pagination.html' %}
        </div>
    </div>
{% endblock %}