{% extends 'music/base_music.html' %}
{% load i18n custom_tags %}

{% block music_title %}{{ musique }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="well text-center">
                <h1>
                    <a href="{{ musique.artiste.get_absolute_url }}" title="{% trans "See artist page" %}">
                        {{ musique.artiste }}
                    </a>
                    {% if musique.featuring.exists %}
                        {% for featuring_artist in musique.featuring.all %}
                            & <a href="{{ featuring_artist.get_absolute_url }}">{{ featuring_artist }}</a>
                        {% endfor %}
                    {% endif %}
                    - {{ musique.titre }}
                    {% if musique.remixed_by %}
                        (<a href="{{ musique.remixed_by.get_absolute_url }}">{{ musique.remixed_by }}</a> {% trans "Remix" %})
                    {% endif %}
                    {% if musique.createur.user == request.user %}
                        <a href="{% url 'admin:music_musique_change' musique.id %}" class="btn btn-sm btn-default">
                            <i class="fa fa-edit"></i>
                        </a>
                    {% endif %}
                </h1>
                <div>
                    {% blocktrans with musique_date=musique.date_creation|date musique_time=musique.date_creation|time musique_createur_url=musique.createur.get_absolute_url musique_createur=musique.createur %}
                        Added on {{ musique_date }} at {{ musique_time }}
                    by <a href="{{ musique_createur_url }}">{{ musique_createur }}</a>.
                    {% endblocktrans %}
                </div>
                {% if musique.album %}
                    <p>{% trans "Album" %} : {{ musique.album }}</p>
                {% endif %}
                {% include 'music/components/style_list_inline.html' with styles=musique.styles.all header_inline=True %}
                {% if musique.label %}
                    <div class="text-center">
                        Label : <a href="{{ musique.label.get_absolute_url }}">{{ musique.label }}</a>
                    </div>
                {% endif %}
            </div>
            {% if musique.liens.exists %}
                {% if musique.liens.valide_seulement.exists %}
                    <div class="col-sm-6 col-xs-12">
                        <h2>{% trans "Links" %}</h2>
                        {% for lien in musique.liens.valide_seulement %}
                            {% include 'music/components/lien.html' %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if request.user == musique.createur.user or request.user.is_superuser %}
                    {% if musique.liens.a_valider.exists %}
                        <div class="col-sm-6 col-xs-12">
                            <h3>{% trans "Links to validate" %}</h3>
                            {% for lien in musique.liens.a_valider %}
                                {% include 'music/components/lien.html' with a_valider=True %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            <div class="clearfix"></div>
            <h3>Ajouter un lien</h3>
            <form method="post">
                {% csrf_token %}
                <ul class="list-inline list-unstyled">
                    {{ form.as_ul }}
                    <li>
                        <button class="btn btn-success" type="submit">Ajouter</button>
                    </li>
                </ul>
            </form>
            <p>
                {% trans "Search on :" %}
                <a class="btn btn-sm btn-social-icon btn-google" href="https://www.google.com/search?q={{ musique|url_quote_plus }}" title="{% trans "Search on Google" %}" target="_blank">
                    <i class="fa fa-google"></i>
                </a>
                <a class="btn btn-sm btn-social-icon btn-youtube" href="https://www.youtube.com/results?search_query={{ musique|url_quote_plus }}" title="{% trans "Search on YouTube" %}" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
                <a class="btn btn-sm btn-social-icon btn-soundcloud" href="https://soundcloud.com/search?q={{ musique|url_quote_plus }}" title="{% trans "Search on Soundcloud" %}" target="_blank">
                    <i class="fa fa-soundcloud"></i>
                </a>
                <a class="btn btn-sm btn-social-icon btn-spotify" href="https://open.spotify.com/search/{{ musique|url_quote_plus }}" title="{% trans "Search on Spotify" %}" target="_blank">
                    <i class="fa fa-spotify"></i>
                </a>
            </p>
            {% if musique.playlists.exists %}
                <hr>
                <h3>
                    {% blocktrans %}This music is present in these playlists{% endblocktrans %} :
                </h3>
                {% include 'music/components/list_group_playlist.html' with playlists=musique.playlists.all %}
            {% endif %}
        </div>
    </div>
    {% csrf_token %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(() => {
            $('#id_url').on('input', function() {
                const val = $(this).val();
                const select = $('select#id_plateforme');
                const plateformes = {
                    'SC': 'soundcloud',
                    'YT': 'youtube',
                    'SP': 'spotify'
                };
                let selected = false;
                for (const [key, value] of Object.entries((plateformes))) {
                    if (val.indexOf(value) >= 0) {
                        select.val(key);
                        selected = true;
                        break
                    }
                }
                if (!selected) {
                    select.val('')
                }
            })
        })
    </script>
{% endblock %}
