{% extends 'music/base_music.html' %}

{% load i18n bootstrap3 %}

{% block music_title %}{% trans "Musics" %}{% endblock %}

{% block stylesheet %}
    {{ filter.form.media.css }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <h2>
                {% trans "All Musics" %}
                <span class="pull-right">
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#filter">
                        {% blocktrans %}Filter options{% endblocktrans %} <i class="fa fa-filter"></i>
                    </button>
                </span>
            </h2>

            <form method="get" id="filter" class="collapse">
                {% bootstrap_form filter.form %}
                <button type="submit" class="btn btn-primary">
                    {% trans "Filter" %}
                    <i class="fa fa-filter"></i>
                </button>
                <a class="btn btn-default" href="{% url 'music:liste-musiques' %}">
                    {% trans "Erase" %}
                    <i class="fa fa-eraser"></i>
                </a>
            </form>
            {% include 'components/pagination.html' %}
            {% include 'music/components/table_musics.html' with musiques=page_obj%}
            {% include 'components/pagination.html' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ filter.form.media.js }}
{% endblock %}