{% extends 'music/base_music.html' %}
{% load i18n fontawesome_5 %}

{% block music_title %}{% trans "Playlist" %} {{ playlist.nom }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">
                        {{ playlist.nom }}
                        {% if playlist.createur.user == request.user %}
                            <a href="{% url 'admin:music_playlist_change' playlist.id %}" class="btn btn-sm btn-default">
                                <i class="fa fa-edit"></i>
                            </a>
                        {% endif %}
                    </h2>
                </div>
                <div class="panel-body">
                    <div>
                        {% blocktrans with playlist_date=playlist.date_creation|date playlist_time=playlist.date_creation|time playlist_createur_url=playlist.createur.get_absolute_url playlist_createur=playlist.createur %}
                            Created on {{ playlist_date }} at {{ playlist_time }}
                            by <a href="{{ playlist_createur_url }}">{{ playlist_createur }}</a>.
                        {% endblocktrans %}
                    </div>
                    {% if playlist.description %}
                        <h3>{% trans "Description" %}</h3>
                        <p>{{ playlist.description|linebreaksbr }}</p>
                    {% endif %}
                    {% with liens=playlist.liens.all %}
                        {% if liens %}
                            <h4>{% trans "Links" %}</h4>
                            <ul class="list-inline">
                                {% for lien in liens %}
                                    <li>
                                        <a href="{{ lien.url }}" target="_blank">
                                            {% fa5_icon lien.plateforme|lower 'fab' %}
                                            {{ lien.plateforme }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                    {% if request.user.profil == playlist.createur %}
                        <form method="post">
                            {% csrf_token %}
                            <ul class="list-inline">
                                {{ form.as_ul }}
                                <li>
                                    <button class="btn btn-success" type="submit" title="Ajouter le lien">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </li>
                            </ul>
                        </form>
                    {% endif %}
                    {% include 'music/components/style_list_inline.html' with styles=playlist.styles.all %}
                    {% if playlist.musiqueplaylist_set.exists %}
                        <h3>{% blocktrans %}Playlist artists{% endblocktrans %}</h3>
                        {% if playlist.artistes.count > 4 %}
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title text-center">
                                        <a data-toggle="collapse" href="#collapse1">{% trans "See all..." %}</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    {% include 'music/playlist_artist_list.html' with artistes=playlist.artistes.all %}
                                </div>
                            </div>
                        </div>
                        {% else %}
                            {% include 'music/playlist_artist_list.html' with artistes=playlist.artistes.all %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <h2>
                {% trans "Musics" %}
                <small>
                    <span class="badge" title="{% trans "Playlist music count" %}">
                        {{ musiques|length }}
                    </span>
                </small>
            </h2>
            {% include 'music/components/table_musics.html' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% include 'music/components/auto_select_plateforme_script.html' %}
{% endblock %}