{% extends 'music/base_music.html' %}
{% load i18n %}

{% block music_title %}{% trans "Playlist" %} {{ playlist.nom }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center">{{ playlist.nom }}</h2>
                </div>
                <div class="panel-body">
                    <div>
                        {% blocktrans with playlist_date=playlist.date_creation|date playlist_time=playlist.date_creation|time playlist_createur_url=playlist.createur.get_absolute_url playlist_createur=playlist.createur %}
                            Created on {{ playlist_date }} at {{ playlist_time }}
                            by <a href="{{ playlist_createur_url }}">{{ playlist_createur }}</a>.
                        {% endblocktrans %}
                    </div>
                    {% if playlist.description %}
                        <h3>{% trans "Description" %}</h3>
                        <p>{{ playlist.description }}</p>
                    {% endif %}
                    {% if playlist.styles.exists %}
                        <h3>{% trans "Styles" %}</h3>
                        <ul>
                            {% for style in playlist.styles.all %}
                                <li>{{ style.nom }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if playlist.musiqueplaylist_set.exists %}
                        <h3>{% blocktrans %}Playlist artists{% endblocktrans %}</h3>
                        <div class="list-group">
                            {% for artiste in playlist.artistes.all %}
                                <a class="list-group-item" href="{{ artiste.get_absolute_url }}">{{ artiste }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12">
            <h2>{% trans "Musics" %}</h2>
            {% for musiqueplaylist in playlist.musiqueplaylist_set.all %}
                <a href="{{ musiqueplaylist.musique.get_absolute_url }}">
                    <b>{{ musiqueplaylist.musique }}</b>
                </a>
                <div>
                    {% blocktrans with date=musiqueplaylist.date_ajout|date:'l j F Y, H:i' %}
                        Added on {{ date }}
                    {% endblocktrans %}
                </div>
            {% empty %}
                <p>{% blocktrans %}This playlist is empty...{% endblocktrans %}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}