{% extends 'music/base_music.html' %}

{% load i18n %}

{% block music_title %}{% trans "My playlists" %}{% endblock %}

{% block stylesheet %}
    {{ filter.form.media.css }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <div class="ds-narrow ds-narrow--lg">
        <div class="ds-cluster" style="justify-content: space-between">
            <h2 class="ds-mb-0">{% trans "Playlists" %}</h2>
            <form method="get" class="ds-cluster">
                {{ filter.form.styles }}
                <button type="submit" class="ds-btn">Filtrer <i class="fa fa-filter"></i></button>
                {{ filter.form.styles.errors }}
            </form>
        </div>
        <div class="ds-table-wrap">
            <table id="table_playlists" class="ds-table ds-table--striped">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Creator" %}</th>
                    <th>{% blocktrans %}Creation date{% endblocktrans %}</th>
                    <th data-type="num">{% blocktrans %}Number of musics{% endblocktrans %}</th>
                    <th data-type="num">{% blocktrans %}Number of views{% endblocktrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for playlist in object_list %}
                    <tr>
                        <td>
                            <a href="{{ playlist.get_absolute_url }}">
                                {{ playlist }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ playlist.createur.get_absolute_url }}">
                                {{ playlist.createur }}
                            </a>
                        </td>
                        <td data-order="{{ playlist.date_creation|date:"U" }}">{{ playlist.date_creation|date:"d/m/y" }}</td>
                        <td data-order="{{ playlist.musiqueplaylist_set.count }}">
                            <span class="ds-badge">
                                {{ playlist.musiqueplaylist_set.count }}
                            </span>
                        </td>
                        <td data-order="{{ playlist.total_vue|default_if_none:0 }}">
                            <span class="ds-badge">
                                {{ playlist.total_vue|default_if_none:0 }}
                            </span>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">
                            {% blocktrans %}No playlist has been created yet...{% endblocktrans %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ filter.form.media.js }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(() => {
            $('#table_playlists').DataTable({
                paging: true,
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'fr' %}
                language: {
                    url: 'https://raw.githubusercontent.com/DataTables/Plugins/master/i18n/fr_fr.json'
                }
                {% endif %}
            });
        } );
    </script>
{% endblock %}
