{% extends 'music/base_music.html' %}

{% load i18n bootstrap3 %}

{% block music_title %}{% trans "My playlists" %}{% endblock %}

{% block stylesheet %}
    {{ filter.form.media.css }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <h2>{% trans "Playlists" %}</h2>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <form method="get">
                        <div class="input-group">
                            {% bootstrap_field filter.form.styles show_label=False placeholder="Filtrer sur un style" %}
                            <div class="input-group-btn">
                                {% buttons submit='Filtrer <i class="fa fa-filter"></i>' %}{% endbuttons %}
                            </div>
                        </div>
                        {{ filter.form.styles.errors }}
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table id="table_playlists" class="table table-striped">
                    <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Creator" %}</th>
                        <th>{% blocktrans %}Creation date{% endblocktrans %}</th>
                        <th data-type="num">{% blocktrans %}Number of musics{% endblocktrans %}</th>
                        <th data-type="num">{% blocktrans %}Number of views{% endblocktrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for playlist in object_list %}
                        <tr>
                            <td>
                                <a href="{{ playlist.get_absolute_url }}">
                                    {{ playlist }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ playlist.createur.get_absolute_url }}">
                                    {{ playlist.createur }}
                                </a>
                            </td>
                            <td data-order="{{ playlist.date_creation|date:"U" }}">{{ playlist.date_creation|date:"d/m/y" }}</td>
                            <td data-order="{{ playlist.musiqueplaylist_set.count }}">
                                <span class="badge">
                                    {{ playlist.musiqueplaylist_set.count }}
                                </span>
                            </td>
                            <td data-order="{{ playlist.total_vue|default_if_none:0 }}">
                                <span class="badge">
                                    {{ playlist.total_vue|default_if_none:0 }}
                                </span>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">
                                {% blocktrans %}No playlist has been created yet...{% endblocktrans %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ filter.form.media.js }}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(() => {
            $('#table_playlists').DataTable({
                paging: true,
                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'fr' %}
                language: {
                    url: 'https://raw.githubusercontent.com/DataTables/Plugins/master/i18n/fr_fr.json'
                }
                {% endif %}
            });
        } );
    </script>
{% endblock %}