{% extends 'music/base_music.html' %}

{% load i18n %}

{% block music_title %}{% trans "Styles" %}{% endblock %}

{% block content_class %}content--wide{% endblock %}

{% block content %}
    <div>
        <div class="ds-cluster" style="justify-content: space-between">
            <h2 class="ds-mb-0">{% trans "Styles" %}</h2>
            <form method="get" class="ds-cluster">
                {{ filter.form.nom }}
                <button type="submit" class="ds-btn">Filtrer <i class="fa fa-filter" aria-hidden="true"></i></button>
                {{ filter.form.nom.errors }}
            </form>
        </div>
        <div class="ds-list-group">
            {% for style in object_list %}
                <a class="ds-list-group__item ds-cluster" style="justify-content: space-between" href="{{ style.get_absolute_url }}">
                    <b>{{ style.nom }}</b>
                    <span class="ds-badge" title="{% trans "Nomber of music from this style" %}">
                        {{ style.musiques.count }}
                    </span>
                </a>
            {% empty %}
                <div class="ds-list-group__item">
                    {% blocktrans %}No styles has been created yet...{% endblocktrans %}
                </div>
            {% endfor %}
        </div>
        {% include 'components/pagination.html' %}
    </div>
{% endblock %}
