Django==2.1b1
django-bootstrap3==10.0.1
django-fontawesome==1.0
-e git://github.com/Romamo/django-geoposition@18a214a576f2aec2801849dca4a58794b39d4857#egg=django_geoposition
Pillow==5.2.0
pytz==2018.5
PyYAML==4.2b4
