{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Se connecter{% endblock %}
{% block jumbotron_title %}Connexion{% endblock %}
{% block jumbotron_description %}Utilise le formulaire ci-dessous pour te connecter sur mon site.{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            {% if next %}
                {% if user.is_authenticated %}
                    {% bootstrap_alert "Désolé mais ton compte n'a pas accès à cette page.<br>Contacte-moi pour en obtenir l'accès !" %}
                    <p>
                        Désolé mais ton compte n'a pas accès à cette page.<br>
                        Contacte-moi pour en obtenir l'accès !
                    </p>
                {% else %}
                    {% bootstrap_alert "Connecte-toi pour accéder à cette page !" alert_type='warning' %}
                {% endif %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="hidden" name="next" value="{{ next }}">
                <div class="text-center">
                    {% bootstrap_button "Valider" button_type="submit" button_class="btn-primary" %}
                    {% url 'password_reset' as url %}
                    {% bootstrap_button "Mot de passe oublié" button_type="link" button_class="btn-link" href=url %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}