{% extends 'base.html' %}

{% block title %}Nouveau mot de passe{% endblock %}
{% block jumbotron_title %}Nouveau mot de passe{% endblock %}
{% block jumbotron_description %}
    {% if validlink %}
        Saisis ton nouveau mot de passe deux fois pour éviter les fautes de frappe.
    {% else %}
        Ce lien de réinitialisation n'est plus valable.
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ds-narrow">
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                {% include 'components/form.html' %}
                <div class="ds-cluster ds-cluster--center ds-mt-4">
                    <button type="submit" class="ds-btn">Changer mon mot de passe</button>
                </div>
            </form>
        {% else %}
            <div class="ds-alert ds-alert--danger" role="alert">
                <div class="ds-alert__content">
                    Le lien de réinitialisation est invalide, probablement parce qu'il a déjà été
                    utilisé. Demandes-en un nouveau pour recommencer.
                </div>
            </div>
            <div class="ds-cluster ds-cluster--center ds-mt-4">
                <a href="{% url 'password_reset' %}" class="ds-btn">Demander un nouveau lien</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
