{% extends 'base.html' %}

{% block title %}Mot de passe modifié{% endblock %}
{% block jumbotron_title %}Mot de passe modifié{% endblock %}
{% block jumbotron_description %}C'est tout bon, tu peux te reconnecter.{% endblock %}

{% block content %}
    <div class="ds-narrow">
        <div class="ds-alert ds-alert--success" role="alert">
            <div class="ds-alert__content">Ton nouveau mot de passe a bien été enregistré.</div>
        </div>
        <div class="ds-cluster ds-cluster--center ds-mt-4">
            <a href="{{ login_url }}" class="ds-btn">Se connecter</a>
        </div>
    </div>
{% endblock %}
