{% extends 'base.html' %}

{% block title %}S'inscrire{% endblock %}
{% block jumbotron_title %}Création de compte{% endblock %}
{% block jumbotron_description %}
    Utilise le formulaire ci-dessous pour te créer un compte sur mon site.<br>
    Les mots de passe sont bien cryptés dans la base, ne t'inquiète pas &#128521;
{% endblock %}

{% block content %}
    <div class="ds-narrow">
        {% if next %}
            {% if form.errors %}
                <div class="ds-alert ds-alert--danger" role="alert">
                    <div class="ds-alert__content">Il y a des erreurs dans le formulaire d'inscription.</div>
                </div>
            {% endif %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% include 'components/form.html' %}
            <div class="ds-cluster ds-cluster--center ds-mt-4">
                <button type="submit" class="ds-btn">S'inscrire</button>
                <a href="{% url 'login' %}" class="ds-btn ds-btn--link">Se connecter</a>
            </div>
        </form>
    </div>
{% endblock %}
