{% extends 'super_moite_moite/base_super_moite_moite.html' %}

{% block super_moite_moite_title %}Edition {{ logement }}{% endblock %}

{% block jumbotron_title %}Edition du logement <br>{{ logement }}{% endblock %}
{% block jumbotron_description %}{% endblock %}

{% block stylesheet %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <div class="ds-narrow ds-narrow--lg">
        <form method="post">
            {% csrf_token %}
            {% include 'components/form.html' %}
            <div class="ds-cluster ds-cluster--center ds-mt-4">
                <a class="ds-btn ds-btn--danger" href="{% url 'super-moite-moite:suppression-logement' logement.slug %}">Supprimer</a>
                <a class="ds-btn ds-btn--ghost" href="{{ logement.get_absolute_url }}">Annuler</a>
                <button type="submit" class="ds-btn">Valider</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    {{ form.media.js }}
{% endblock %}
