{% extends 'super_moite_moite/base_super_moite_moite.html' %}

{% load static %}

{% block super_moite_moite_title %}{{ logement }}{% endblock %}

{% block jumbotron_title %}{{ logement }}{% endblock %}
{% block jumbotron_description %}
    Habitants :
    {% for habitant in logement.habitants.all %}
        <a href="{{ habitant.get_absolute_url }}">{{ habitant }}</a>{% if not forloop.last %}{% if logement.habitants.count != 2 %}, {% else %} & {% endif %}{% endif %}
    {% endfor %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'super_moite_moite/css/style.css' %}">
{% endblock %}

{% block content %}
    <div id="app">
        <div class="container">
            <div class="row">
                <div v-for="categorie in logement.categories" class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well" :style="{backgroundColor: categorie.couleur}">
                        <div class="form-group">
                            <div class="input-group">
                                <input v-model="categorie.nom" class="form-control">
                                <div class="input-group-btn">
                                    <div class="btn btn-default">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-7">
                                    <input v-model="categorie.couleur" class="form-control">
                                </div>
                                <div class="col-xs-5">
                                    <input v-model="categorie.couleur" class="form-control" type="color">
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="panel panel-default" v-for="tache in categorie.taches">
                            <div class="panel-heading">
                                [[ tache.nom ]]
                            </div>
                            <div class="panel-body">
                                <div v-if="!tache.get_photo_url.includes('placeholder.jpg')">
                                    <img :src="tache.get_photo_url" :alt="'Photo de la tâche ' + tache.nom" :style="{width: '100%'}">
                                </div>
                                <p v-if="tache.description">[[ tache.description ]]</p>
                                <p>
                                    Tracks : [[ tache.tracks.length ]]
                                </p>
                                <div v-for="habitant in logement.habitants">
                                    [[ habitant.user ]] ([[ pointParDefautProfil(tache, habitant) ]]) :
                                    [[ pointsTacheProfil(tache, habitant) ]] point[[ pointsTacheProfil(tache, habitant) > 1 ? 's' : '' ]]
                                </div>
                            </div>
                            <div class="panel-footer text-center">
                                <div class="btn-group">
                                    <button v-on:click="ajoutTrack(tache)" type="button" class="btn btn-primary btn-xs">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input v-model="nomsNouvelleTache[categorie.id]" v-on:keyup.enter="nouvelleTache(categorie)"
                                   placeholder="Nouvelle tâche" class="form-control">
                            <div class="input-group-btn">
                                <div v-on:click="nouvelleTache(categorie)" class="btn btn-default">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well">
                        <div class="input-group">
                            <input v-model="nomNouvelleCategorie" v-on:keyup.enter="nouvelleCategorie"
                                   placeholder="Nouvelle catégorie" class="form-control">
                            <div class="input-group-btn">
                                <div v-on:click="nouvelleCategorie" class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ json|json_script:'logement' }}

    {% if debug %}
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% else %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    {% endif %}

    <script>
        const apiUrl = '/fr/super-moite-moite/api'
        const headers = {
            "Content-type": "application/json; charset=UTF-8",
            "X-CSRFToken": Cookies.get('csrftoken')
        }
        const logement = JSON.parse($('#logement').text())

        function status(response) {
            if (response.status >= 200 && response.status < 300) {
                return Promise.resolve(response)
            } else {
                return Promise.reject(new Error(response.statusText))
            }
        }

        function json(response) {
            return response.json()
        }

        function catchError(error) {
            console.log('Request failed', error);
            alert("Une erreur s'est produite lors de la requête")
        }

        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                logement: logement,
                nomNouvelleCategorie: "",
                nomsNouvelleTache: {}
            },
            methods: {
                nouvelleCategorie: function () {
                    const ap = this
                    if (ap.nomNouvelleCategorie === '') {
                        alert('Veuillez saisir un nom pour la nouvelle catégorie.')
                        return
                    }
                    const body = JSON.stringify({
                        nom: ap.nomNouvelleCategorie,
                        logement: ap.logement.id
                    })
                    fetch(`${apiUrl}/categories`, {
                        method: 'post',
                        headers: headers,
                        body: body
                    })
                        .then(status)
                        .then(json)
                        .then(function (newCategory) {
                            logement.categories.push(newCategory)
                            ap.nomNouvelleCategorie = ''
                        })
                        .catch(catchError);
                },
                nouvelleTache: function (categorie) {
                    const ap = this
                    if (ap.nomsNouvelleTache[categorie.id] === '') {
                        alert('Veuillez saisir un nom pour la nouvelle tâche.')
                        return
                    }
                    const body = JSON.stringify({
                        nom: ap.nomsNouvelleTache[categorie.id],
                        categorie: categorie.id
                    })
                    fetch(`${apiUrl}/taches`, {
                        method: 'post',
                        headers: headers,
                        body: body
                    })
                        .then(status)
                        .then(json)
                        .then(function (newTask) {
                            categorie.taches.push(newTask)
                            ap.nomsNouvelleTache[categorie.id] = ''
                        })
                        .catch(catchError);
                },
                ajoutTrack: function (tache) {
                    const body = JSON.stringify({
                        tache: tache.id
                    })
                    fetch(`${apiUrl}/track-taches`, {
                        method: 'post',
                        headers: headers,
                        body: body
                    })
                        .then(status)
                        .then(json)
                        .then(function (newTrack) {
                            tache.tracks.push(newTrack)
                        })
                        .catch(catchError);
                },
                pointParDefautProfil: function(tache, profil) {
                    // Trouve le nombre de point que vaut cette tâche pour ce profil (1 par défaut)
                    const pointProfil = tache.point_profils.find(pointProfil => pointProfil.profil === profil.id)
                    if (pointProfil !== undefined) {
                        return pointProfil.point
                    }
                    return 1
                },
                pointsTacheProfil: function(tache, profil) {
                    // Récupère le nombre de point par défaut de ce profil pour cette tâche
                    const pointParDefaut = this.pointParDefautProfil(tache, profil)
                    // Parcours les tâches du profil et fait le total de ces points
                    return tache.tracks.filter(pointProfil => pointProfil.profil === profil.id)
                        .reduce(totalPoints => totalPoints + pointParDefaut, 0)
                }
            }
        });
    </script>
{% endblock %}