{% extends 'super_moite_moite/base_super_moite_moite.html' %}

{% load static %}

{% block super_moite_moite_title %}{{ logement }}{% endblock %}

{% block jumbotron_title %}{{ logement }}{% endblock %}
{% block jumbotron_description %}
    Habitants :
    {% for habitant in logement.habitants.all %}
        <a href="{{ habitant.get_absolute_url }}">{{ habitant }}</a>{% if not forloop.last %}{% if logement.habitants.count != 2 %}, {% else %} & {% endif %}{% endif %}
    {% endfor %}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'super_moite_moite/css/style.css' %}">
{% endblock %}

{% block content %}
    <div id="app">
        <div class="container">
            <div class="row">
                <div v-for="categorie in logement.categories" class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well" :style="{backgroundColor: categorie.couleur}">
                        <div class="form-group">
                            <div class="input-group">
                                <input v-model="categorie.nom" class="form-control">
                                <div class="input-group-btn">
                                    <div class="btn btn-default">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-7">
                                    <input v-model="categorie.couleur" class="form-control">
                                </div>
                                <div class="col-xs-5">
                                    <input v-model="categorie.couleur" class="form-control" type="color">
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="panel panel-default" v-for="tache in categorie.taches">
                            <div class="panel-heading">
                                [[ tache.nom ]]
                            </div>
                            <div class="panel-body">
                                <div v-if="!tache.get_photo_url.includes('placeholder.jpg')">
                                    <img :src="tache.get_photo_url" :alt="'Photo de la tâche ' + tache.nom" :style="{width: '100%'}">
                                </div>
                                <p v-if="tache.description">[[ tache.description ]]</p>
                                <p>
                                    Tracks : [[ tache.tracks.length ]]
                                </p>
                            </div>
                            <div class="panel-footer text-center">
                                <div class="btn-group">
                                    <button v-on:click="addTrack(tache)" type="button" class="btn btn-primary btn-xs">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input placeholder="Nouvelle tâche" class="form-control">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="well">
                        <div class="input-group">
                            <input v-model="newCategoryName" v-on:keyup.enter="createCategory" placeholder="Nouvelle catégorie" class="form-control">
                            <div class="input-group-btn">
                                <div v-on:click="createCategory" class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ json|json_script:'logement' }}

    {% if debug %}
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% else %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    {% endif %}

    <script>
        const apiUrl = '/fr/super-moite-moite/api'
        const headers = {
            "Content-type": "application/json; charset=UTF-8",
            "X-CSRFToken": Cookies.get('csrftoken')
        }
        const logement = JSON.parse($('#logement').text())

        function status(response) {
            if (response.status >= 200 && response.status < 300) {
                return Promise.resolve(response)
            } else {
                return Promise.reject(new Error(response.statusText))
            }
        }

        function json(response) {
            return response.json()
        }

        function catchError(error) {
            console.log('Request failed', error);
            alert("Une erreur s'est produite lors de la requête")
        }

        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                logement: logement,
                newCategoryName: ""
            },
            methods: {
                createCategory: function () {
                    const ap = this
                    if (ap.newCategoryName === '') {
                        alert('Veuillez saisir un nom pour la nouvelle catégorie.')
                        return
                    }
                    const body = JSON.stringify({
                        nom: ap.newCategoryName,
                        logement: ap.logement.id
                    })
                    fetch(`${apiUrl}/categories`, {
                        method: 'post',
                        headers: headers,
                        body: body
                    })
                        .then(status)
                        .then(json)
                        .then(function (data) {
                            logement.categories.push(data)
                            ap.newCategoryName = ''
                        })
                        .catch(catchError);
                },
                addTrack: function (tache) {
                    const body = JSON.stringify({
                        tache: tache.id
                    })
                    fetch(`${apiUrl}/track-taches`, {
                        method: 'post',
                        headers: headers,
                        body: body
                    })
                        .then(status)
                        .then(json)
                        .then(function (data) {
                            tache.tracks.push(data)
                        })
                        .catch(catchError);
                }
            }
        });
  </script>
{% endblock %}