{% extends 'super_moite_moite/base_super_moite_moite.html' %}

{% load bootstrap3 %}

{% block super_moite_moite_title %}Logements{% endblock %}

{% block stylesheet %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
     <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <h2>Mes logements</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Participants</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for logement in logements %}
                            {% with habitants=logement.habitants.all %}
                                <tr>
                                    <td>
                                        <a href="{{ logement.get_absolute_url }}">
                                            {{ logement }}
                                        </a>
                                    </td>
                                    <td>
                                        {% for habitant in habitants %}{{ habitant }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-sm" href="{% url 'super-moite-moite:edition-logement' logement.slug %}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-info btn-sm" href="{% url 'super-moite-moite:dupliquer-logement' logement.slug %}"
                                           title="Permet de copier toutes les catégories et les tâches dans un nouveau logement avec les mêmes participants et les mêmes points par défaut">
                                            <i class="fa fa-copy"></i>
                                        </a>
                                    </td>
                                </tr>


                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h2>Nouveau logement :</h2>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    {% bootstrap_button "Valider" button_type="submit" button_class="btn-primary" %}
                </div>
            </form>
        </div>
     </div>
{% endblock %}

{% block javascript %}
    {{ form.media.js }}
{% endblock %}