.well {
    border-radius: 10px;
}

.showOnHover i {
    opacity: 0;
}

.showOnHover:hover i {
    opacity: 1;
}

.progress {
    height: 30px;
}

.progress-bar {
    line-height: 30px;
}

.panel .panel-heading a {
    cursor: pointer;
}

table.tableTracks thead {
    font-size: 0.75em;
}

table.tableTracks tbody {
    text-align: center;
    font-size: 0.9em;
}

.stickyToolbar {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 5px 0 5px;
    background-color: rgba(255, 255, 255, 0.88);
}

/* Animate Increment */
.slide-enter {
  top: 7px;
  opacity: 0.5;
}

.slide-enter-active, .slide-leave-active {
  transition: all .45s;
}

.slide-enter-to {
  top: 0;
  opacity: 1;
}

.slide-leave {
  top: 0;
  opacity: 1;
}

.slide-leave-to {
  top: -7px;
  opacity: 0;
}