{% extends 'avis/base_avis.html' %}

{% load static %}

{% block avis_title %}Liste{% endblock %}

{% block content %}
    <div class="avis">
        <h1>Les derniers avis</h1>
        <div class="row">
        {% for avis in object_list|slice:"12" %}
            <div class="col-sm-4 col-xs-12">
                {% include 'avis/avis_thumbnail.html' %}
            </div>
        {% empty %}
            <div>Pas d'avis enregistré.</div>
        {% endfor %}
        </div>
    </div>

{% endblock %}