{% extends 'avis/base_avis.html' %}

{% load custom_tags %}

{% block avis_title %}Avis {{ object.produit }}{% endblock %}

{% block avis_content %}
    <ul class="breadcrumb">
        <li><a href="{{ object.produit.structure.get_absolute_url }}">{{ object.produit.structure }}</a></li>
        <li><a href="{{ object.produit.get_absolute_url }}">{{ object.produit.nom }}</a></li>
        <li>Avis n°{{ object.id }}</li>
    </ul>

    <h2>Avis de <a href="{{ object.auteur.get_absolute_url }}">{{ object.auteur }}</a> sur {{ object.produit.nom }}</h2>
    <h4>
        Ajoutée le {{ object.date_creation|date:'d/m/y' }} à {{ object.date_creation|time }}
        {% if object.has_been_edited %}
            | Editée le {{ object.date_edition|date:'d/m/y' }} à {{ object.date_edition|time }}
        {% endif %}
    </h4>
    <p>
    {% if object.produit.categories.exists %}
        {% for categorie in object.produit.categories.all %}
            <a href="{{ categorie.get_absolute_url }}">
                <span class="label label-primary">{{ categorie }}</span>
            </a>
        {% endfor %}
    {% endif %}
    </p>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            {% if object.photo %}
            <img src="{{ object.get_photo_url }}" width="100%" title="Photo du produit {{ object.produit }}" alt="Photo du produit {{ object.produit }} prise par {{ object.auteur }}" />
            {% endif %}
        </div>
        <div class="col-md-6 col-xs-12 h4">
            <div class="well">
                {{ object.avis|linebreaks }}
                {% if request.user.id == object.auteur.id %}
                    <div class="text-right">
                        <a href="{% url 'admin:avis_avis_change' object.id %}">
                            Editer <i class="fa fa-edit" title="Editer cet avis"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="pull-right">
                <a href="{{ object.auteur.get_absolute_url }}">
                    {{ object.auteur }}
                    <img class="img-rounded" src="{{ object.auteur.avatar.url }}" alt="Avatar de {{ object.auteur }}" style="max-height: 30px"/>
                </a>
            </div>
        </div>
    </div>
    <div class="panel panel-{{ object.note|color }}" style="margin: 15px auto; width: 30%">
        <div class="panel-heading text-center">
            <h2><strong>{{ object.note }}/10</strong></h2>
        </div>
    </div>
{% endblock %}