{% load custom_tags %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">Photo</th>
            <th>Nom</th>
            <th>Catégories</th>
            <th>Date d'ajout</th>
            <th class="text-center">Prix</th>
            <th class="text-center">Nombre d'avis</th>
            <th class="text-center">Note moyenne</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in object.produit_set.all %}
        <tr>
            <td class="text-center">
                {% if produit.avis_set.exists %}
                    <a href="{{ produit.get_absolute_url }}">
                        <img src="{{ produit.avis_set.first.get_photo_url }}" height="100px" alt="Photo du produit {{ produit }}">
                    </a>
                {% endif %}
            </td>
            <td><a href="{{ produit.get_absolute_url }}">{{ produit }}</a></td>
            <td>
                {% if produit.categories.exists %}
                    {% for catgorie in produit.categories.all %}
                        <span class="label label-primary">{{ catgorie }}</span>
                    {% endfor %}
                {% endif %}
            </td>
            <td>{{ produit.date_creation }}</td>
            <td class="text-center">{{ produit.prix}}€</td>
            <td class="text-center">{{ produit.avis_set.count}}</td>
            <td class="text-center">
                {% if produit.note_moyenne %}
                <div class="progress">
                    <div class="progress-bar progress-bar-{{ produit.note_moyenne|color }}" role="progressbar" aria-valuenow="{{ produit.note_moyenne|multiply_10 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ produit.note_moyenne|multiply_10 }}%">
                        {{ produit.note_moyenne|floatformat }}/10
                    </div>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>