{% load custom_tags %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">Photo</th>
            <th>Nom</th>
            <th>Catégories</th>
            <th>Date d'ajout</th>
            <th class="text-center">Prix</th>
            <th class="text-center">Nombre d'avis</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in object.produit_set.all %}
        <tr>
            <td class="text-center">
                {% if produit.avis_set.exists %}
                    <a href="{{ produit.get_absolute_url }}">
                        <img src="{{ produit.avis_set.first.get_photo_url }}" height="100px" alt="Photo du produit {{ produit.nom }}">
                    </a>
                    <div class="progress" style="margin: 5px 10px 0 10px">
                        <div class="progress-bar progress-bar-{{ produit.moyenne|color }}" role="progressbar"
                             title="Note moyenne" aria-valuenow="{{ produit.moyenne|multiply_10 }}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{ produit.moyenne|multiply_10 }}%">
                            {{ produit.moyenne|floatformat }}/10
                        </div>
                    </div>
                {% endif %}
            </td>
            <td><a href="{{ produit.get_absolute_url }}">{{ produit.nom }}</a></td>
            <td>
                {% if produit.categories.exists %}
                    {% for categorie in produit.categories.all %}
                        <span class="label label-primary">{{ categorie }}</span>
                    {% endfor %}
                {% endif %}
            </td>
            <td>{{ produit.date_creation }}</td>
            <td class="text-center">{{ produit.prix}}€</td>
            <td class="text-center">{{ produit.avis_set.count}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>