{% extends 'avis/base_avis.html' %}

{% block avis_title %}Restaurants{% endblock %}

{% block avis_content %}
<h1>Restaurants</h1>
    <div class="filter-bar">
        <form class="form-inline" action="" method="get">
            {% for field in filter.form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default">Filtrer <i class="fa fa-filter"></i></button>
        </form>
    </div>
{% for restaurant in filter.qs %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>
                <a href="{{ restaurant.get_absolute_url }}">{{ restaurant.nom }}</a>
            </h2>
        </div>
        <div class="panel-body">
             <p>Ajouté le {{ restaurant.date_creation|date }}</p>
            {% if restaurant.informations %}
                <div>{{ restaurant.informations }}</div>
            {% endif %}
            <h3>Ses plats</h3>
            <div class="row">
                {% for plat in restaurant.plat_set.all %}
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <h4><a href="{{ plat.get_absolute_url }}">{{ plat.nom }}</a></h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% empty %}
    <div>Pas de restaurant enregistré.</div>
{% endfor %}
{% endblock %}