{% extends 'avis/base_avis.html' %}

{% load custom_tags %}

{% block avis_title %}Structures{% endblock %}

{% block avis_content %}
    <h1>Structures</h1>
    <hr />
    <div class="filter-bar">
        <form class="ds-form-inline" method="get">
            {% include 'components/form.html' with form=filter.form %}
            <button type="submit" class="ds-btn">Filtrer <i class="fa fa-filter" aria-hidden="true"></i></button>
        </form>
    </div>
    <hr />
    {% include 'components/pagination.html' %}

    {% for structure in structures %}
        <div class="ds-card ds-mb-4">
            <div class="ds-card__header ds-cluster" style="justify-content: space-between">
                <h3 class="ds-mb-0">
                    <a href="{{ structure.get_absolute_url }}">{{ structure.nom }}</a>
                    <small>{{ structure.type }}</small>
                </h3>
                {% if structure.moyenne %}
                    <div class="ds-progress" style="flex: 0 0 20%; min-width: 120px">
                        <div class="ds-progress__bar ds-progress__bar--{{ structure.moyenne|color }}"
                             style="width:{{ structure.moyenne|multiply_10 }}%">
                            {{ structure.moyenne|floatformat }}/10
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="ds-card__body">
                <p>Ajouté le {{ structure.date_creation|date }}</p>
                {% if structure.informations %}
                    <div>{{ structure.informations }}</div>
                {% endif %}
                <h4>Ses produits</h4>
                <div class="ds-grid ds-grid--4">
                    {% for produit in structure.produit_set.all %}
                        <h5 class="ds-mb-0"><a href="{{ produit.get_absolute_url }}">{{ produit.nom }}</a></h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% empty %}
        <div>Pas de structure enregistré.</div>
    {% endfor %}

    {% include 'components/pagination.html' %}
{% endblock %}
