{% extends 'versus/base_jeu.html' %}

{% block jeu_content %}
    <h2>
        Dernières parties jouées
        {% if request.user.is_staff %}
            <div class="pull-right">
                <a class="btn btn-default" href="{% url 'versus:ajout-partie' jeu.slug %}">
                    <i class="fa fa-plus"></i>
                    Nouvelle partie
                </a>
            </div>
        {% endif %}
    </h2>
    {% for partie in jeu.parties.all %}
        <h3>
            {{ partie.date|date:'l j F Y, H:i'|capfirst }}
            {% if request.user.is_staff %}
                <a class="btn btn-default" href="{% url 'versus:edition-partie' jeu.slug partie.id %}">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger" href="{% url 'versus:suppression-partie' jeu.slug partie.id %}">
                    <i class="fa fa-trash"></i>
                </a>
            {% endif %}
        </h3>
        {% include 'versus/partie_table.html' %}
    {% endfor %}
{% endblock %}