{% extends 'versus/base_versus.html' %}

{% block versus_title %}Jeu {{ jeu.nom }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-12 text-center">
            <h1>{{ jeu.nom }}</h1>
            <div>Créé le {{ jeu.date_creation|date }} à {{ jeu.date_creation|time }}</div>
            <img src="{% if jeu.image %}{{ jeu.image.url }}{% endif %}" class="img-responsive" style="max-height: 300px; margin: auto" alt="Jeu {{ jeu.nom }}">
        </div>
        <div class="col-sm-8 col-xs-12">
            <h2>Dernières parties jouées</h2>
            {% for partie in jeu.parties.all %}
                <h3>{{ partie.date|date:'l j F Y, H:i'|capfirst }}</h3>
                <p>{% if jeu.classement %}Classement{% else %}Score{% endif %} :</p>
                {% include 'versus/partie_table.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}