{% extends 'versus/base_versus.html' %}

{% block versus_title %}Les jeux{% endblock %}

{% block content %}
    <div class="flex-container">
        {% for jeu in object_list %}
            <div style="flex-basis: 24em">
                <h2>
                    <a href="{{ jeu.get_absolute_url }}">
                        {{ jeu.nom }}
                    </a>
                </h2>
                {% if jeu.image %}
                    <a href="{{ jeu.get_absolute_url }}">
                        <img src="{{ jeu.image.url }}" class="img-responsive" style="max-height: 250px; margin: auto" alt="Jeu {{ jeu.nom }}">
                    </a>
                {% endif %}
            </div>
        {% empty %}
            <div>Pas de jeu enregistré.</div>
        {% endfor %}
    </div>
{% endblock %}