{% extends 'versus/base_versus.html' %}

{% block versus_title %}Joueur {{ joueur.nom }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-12 text-center">
            <h1>{{ joueur.nom }}</h1>
            {% if joueur.profil %}
                <h4>Profil : <a href="{{ joueur.profil.get_absolute_url }}">{{ joueur.profil }}</a></h4>
            {% endif %}
            <div>Créé le {{ joueur.date_creation|date }} à {{ joueur.date_creation|time }}</div>
            <p>Nombre de victoire : {{ joueur.nb_victoire }}</p>
        </div>
        <div class="col-sm-8 col-xs-12">
            <h2>Dernières parties jouées</h2>
            {% for partie in joueur.partie_set.all %}
                <h3>{{ partie.jeu }} <small>{{ partie.date|date:'l j F Y, H:i' }}</small></h3>
                <p>{% if jeu.classement %}Classement{% else %}Score{% endif %} :</p>
                {% include 'versus/partie_table.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}