{% extends 'versus/base_versus.html' %}

{% block versus_title %}Joueur {{ joueur.nom }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-xs-12 text-center">
            <h1>{{ joueur.nom }}</h1>
            {% if joueur.profil %}
                <h4>Profil : <a href="{{ joueur.profil.get_absolute_url }}">{{ joueur.profil }}</a></h4>
            {% endif %}
            <div>Créé le {{ joueur.date_creation|date }} à {{ joueur.date_creation|time }}</div>
            <p>Nombre de victoire : {{ joueur.nb_victoire }}</p>
        </div>
        <div class="col-sm-8 col-xs-12">
            <h2>Dernières parties jouées</h2>
            {% for partie in joueur.partie_set.all %}
                <h3>{{ partie.jeu }} <small>{{ partie.date|date:'l j F Y, H:i' }}</small></h3>
                <p>{% if jeu.classement %}Classement{% else %}Score{% endif %} :</p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            {% for partie_joueur in partie.partiejoueur_set.all %}
                                <th class="text-center{% if partie_joueur.joueur in partie.get_winners %} bg-info{% endif %}">
                                    {{ partie_joueur.joueur }}
                                </th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for partie_joueur in partie.partiejoueur_set.all %}
                                <td class="text-center{% if partie_joueur.joueur in partie.get_winners %} bg-info{% endif %}">
                                    {{ partie_joueur.score_classement }}
                                </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}