{% with winners=partie.get_winners %}
    {% if partie.jeu.type == partie.jeu.CLASSEMENT %}
        <div class="list-group">
            {% for partie_joueur in partie.classement_joueur %}
                <a href="{{ partie_joueur.joueur.get_absolute_url }}" class="list-group-item{% if partie_joueur.joueur in winners %} active{% endif %}">
                    <span class="badge">{{ partie_joueur.score_classement }}</span> {{ partie_joueur.joueur }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                {% with parties_joueurs=partie.classement_joueur %}
                    <thead>
                    <tr>
                        {% for partie_joueur in parties_joueurs %}
                            <th class="text-center{% if partie_joueur.joueur in winners %} bg-info{% endif %}">
                                <a href="{{ partie_joueur.joueur.get_absolute_url }}">
                                    {{ partie_joueur.joueur }}
                                </a>
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for partie_joueur in parties_joueurs %}
                            <td class="text-center{% if partie_joueur.joueur in winners %} bg-info{% endif %}">
                                {{ partie_joueur.score_classement }}
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
            {% endwith %}
            </table>
        </div>
    {% endif %}
{% endwith %}
