<script type="text/javascript">
    (function () {
        var urlInput = document.getElementById('id_url');
        var select = document.getElementById('id_plateforme');
        if (!urlInput || !select) return;
        var plateformes = {
            {% for plateforme in plateformes %}
                {{ plateforme.id }}: '{{ plateforme.nom|lower }}',
            {% endfor %}
        };
        urlInput.addEventListener('input', function () {
            var val = urlInput.value;
            var selected = false;
            for (var key in plateformes) {
                if (val.indexOf(plateformes[key]) >= 0) {
                    select.value = key;
                    selected = true;
                    break;
                }
            }
            if (!selected) select.value = '';
        });
    })();
</script>
