{% load i18n %}

<a class="platformLink" data-link-id="{{ lien.id }}" href="{{ lien.url }}" target="_blank"
   data-link-url="{% url 'music:incremente_link_click_count' lien.id %}">
    <i class="fa fa-{{ lien.plateforme|lower }}"></i>
    <b>{{ lien.plateforme }}</b> <i class="fa fa-external-link"></i>
</a>
<div>
    {% blocktrans %}Added by{% endblocktrans %} {{ lien.createur }} {% trans "on" %} {{ lien.date_creation|date:'d/m/y' }},
    {% trans "seen" %} <span class="click_count" id="lien{{ lien.id }}">{{ lien.click_count }}</span> {% trans "times" %}.
    {% if a_valider %}
        <a class="btn btn-xs btn-default" href="{% url 'music:valider_lien' lien.id %}">
            <i class="fa fa-check" title="{% trans "Validate the link" %}"></i>
        </a>
    {% endif %}
</div>