{% load i18n %}

<div class="list-group">
    {% for playlist in playlists %}
        <a class="list-group-item col-sm-4 col-xs-12" href="{{ playlist.get_absolute_url }}"
           title="{% blocktrans with playlist_createur=playlist.createur playlist_date=playlist.date_creation|date:"d/m/y" %}Created by {{ playlist_createur }} on {{ playlist_date }}{% endblocktrans %}">
            {{ playlist.nom }}
            <span class="badge" title="{% trans "Playlist music count" %}">{{ playlist.musiqueplaylist_set.count }}</span>
        </a>
    {% empty %}
        <div class="list-group-item col-xs-12">{% blocktrans %}No playlist has been created.{% endblocktrans %}</div>
    {% endfor %}
</div>
