{% load i18n %}

{% if not musiques %}
    <h3>{% trans "No music has been created here." %}</h3>
{% else %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{% trans "Artist" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Style" %}</th>
                <th class="text-center">{% trans "Date add" %}</th>
                <th class="text-center">{% trans "View count" %}</th>
                <th class="text-center" style="width: 70px">{% trans "Liens" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for musique in musiques %}
                <tr>
                    <td>
                        <a href="{{ musique.artiste.get_absolute_url }}">
                            <b>{{ musique.artiste_display }}</b>
                        </a>
                    </td>
                    <td>
                        <a href="{{ musique.get_absolute_url }}">
                            <b>{{ musique.titre_display }}</b>
                        </a>
                    </td>
                    <td>
                        {% for style in musique.styles.all %}
                            <a class="label label-default" href="{{ style.get_absolute_url }}">{{ style }}</a>
                        {% endfor %}
                    </td>
                    <td class="text-center">{{ musique.date_creation|date:'DATETIME_FORMAT' }}</td>
                    <td class="text-center">
                        <span class="badge click_count" id="musique{{ musique.id }}">{{ musique.nb_vue|default:0 }}</span>
                    </td>
                    <td class="text-center">
                        {% if musique.liens %}
                            {% for lien in musique.liens.all %}
                                <a class="platformLink" data-link-id="{{ lien.id }}" href="{{ lien.url }}" target="_blank"
                                   data-link-url="{% url 'music:incremente_link_click_count' lien.id %}">
                                    <i class="fa fa-{{ lien.get_old_plateforme_display|lower }}"></i>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}