{% extends 'base.html' %}

{% load static %}

{% block title %}{% block tracker_title %}Trackers{% endblock %} | Tracker{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'tracker/css/tracker-style.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' with tracker=True %}
{% endblock %}

{% block jumbotron_title %}<a href="{% url 'tracker:liste-tracker' %}">Trackers</a>{% endblock %}
{% block jumbotron_description %}
    Les choses que je veux tracker pour voir leur évolution dans le temps.
{% endblock %}