{% extends 'tracker/base_tracker.html' %}

{% load static fontawesome %}

{% block avis_title %}Mes trackers{% endblock %}

{% block content %}
    <div class="row">
        {% for tracker in object_list %}
            <a href="{{ tracker.get_absolute_url }}">
                <div class="col-md-3 col-sm-4 col-xs-6 text-center" style="background-color: {{ tracker.color }}">
                    <h1>{% fontawesome_icon tracker.icone %}</h1>
                    <h3>{{ tracker.nom }}</h3>
                    <div>{{ tracker.tracks.count }} tracks</div>
                </div>
            </a>
        {% empty %}
            <div>Pas de tracker enregistré.</div>
        {% endfor %}
    </div>
{% endblock %}