{% extends 'tracker/base_tracker.html' %}

{% load fontawesome admin_urls %}

{% block tracker_title %}Tracker {{ tracker.nom }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="text-center">
                <h1 style="background-color: {{ tracker.color }}; padding: 4px 0; border: solid 1px black; border-radius: 4px;">
                    {{ tracker.nom }} {% fontawesome_icon tracker.icone %}
                    <a class="btn btn-info" href="{% url 'tracker:update-tracker' tracker.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger" href="{% url 'tracker:delete-tracker' tracker.id %}">
                        <i class="fa fa-trash"></i>
                    </a>
                </h1>
                <div>Créé le {{ tracker.date_creation|date }} à {{ tracker.date_creation|time }}</div>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.commentaire.label_tag }}
                </div>
                <div class="input-group">
                    {{ form.commentaire }}
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="input-group">
                    {{ form.commentaire.errors }}
                </div>
            </form>

            <br>

            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#statistiques">Statistiques</a></li>
                <li><a data-toggle="tab" href="#historique">Historique</a></li>
            </ul>

            <div class="tab-content">
                <div id="statistiques" class="tab-pane fade in active">
                    <h2>Statistiques</h2>
                    {% if tracker.tracks.count < 3 %}
                    <p>Il n'y a pas assez d'enregistrements pour afficher le graphique...</p>
                    {% else %}
                    <p>
                        <strong id="avg"></strong> {{ tracker.nom|lower }} par <span id="frequency"></span>
                    </p>
                    <div class="text-center">
                        <canvas id="myChart" width="600" height="400"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-xs-6 text-center">
                            <button type="button" class="btn btn-default btn-frequency" data-frequency="H">Heure</button>
                        </div>
                        <div class="col-md-2 col-xs-6 text-center">
                            <button type="button" class="btn btn-default btn-frequency" data-frequency="D" id="default">Jour</button>
                        </div>
                        <div class="col-md-2 col-xs-6 text-center">
                            <button type="button" class="btn btn-default btn-frequency" data-frequency="W">Semaine</button>
                        </div>
                        <div class="col-md-2 col-xs-6 text-center">
                            <button type="button" class="btn btn-default btn-frequency" data-frequency="M">Mois</button>
                        </div>
                        <div class="col-md-2 col-xs-6 text-center">
                            <button type="button" class="btn btn-default btn-frequency" data-frequency="Q">Quart d'année</button>
                        </div>
                        <div class="col-md-2 col-xs-6 text-center">
                            <button type="button" class="btn btn-default btn-frequency" data-frequency="Y">Année</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="historique" class="tab-pane fade">
                    <h2>Historique <small>{{ tracker.tracks.count }} tracks</small></h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Heure</th>
                                <th>Commentaire</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for track in tracker.tracks.all %}
                                <tr>
                                    <td>{{ track.datetime|date:"l d F Y"|capfirst }}</td>
                                    <td>{{ track.datetime|time }}</td>
                                    <td>
                                        {{ track.commentaire }}
                                        <a href="{% url 'admin:tracker_track_change' track.id %}" target="_blank">
                                            <i class="fa fa-edit" title="Editer ce track"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
    $(() => {
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    data: []
                }]
            },
            options: {
                legend: {
                    display:false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var trackerId = {{ tracker.id }};
        var url = "{% url 'tracker:tracker-data' %}";
        const frequency_map = {
            H: 'heure',
            D: 'jour',
            W: 'semaine',
            M: 'mois',
            Q: "quart d'année",
            Y: 'an',
        };

        //
        $('.btn-frequency').click(function (e) {
            const frequency = $(this).data('frequency');
            $.post(url, {id: trackerId, frequency: frequency})
                .done(response => {
                    myChart.data.labels = response.labels;
                    myChart.data.datasets[0].data = response.data;
                    myChart.update();
                    $('span#frequency').text(frequency_map[frequency]);
                    $('strong#avg').text(response.avg);
                    $('.btn-frequency').removeClass('active');
                    $(this).addClass('active')
                })
                .fail((xhr, textStatus, errorThrown) => {
                    console.error( '(' + errorThrown + ') ' + (xhr.responseJSON !== undefined ? xhr.responseJSON.error : textStatus));
                })
        });

        // Trigger the default one
        $('.btn-frequency#default').trigger('click');
    })
</script>
{% endblock %}