{% extends 'tracker/base_tracker.html' %}

{% load fontawesome_5 admin_urls %}

{% block tracker_title %}Edition Tracker {{ tracker.nom }}{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            {% include 'tracker/include/tracker_form_table.html' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
