{% extends 'tracker/base_tracker.html' %}

{% load fontawesome_6 admin_urls %}

{% block tracker_title %}Edition Tracker {{ tracker.nom }}{% endblock %}

{% block content %}
    <div class="ds-narrow">
        <div class="ds-well ds-text-center">
            <form method="post">{% csrf_token %}
                <p>Êtes-vous sûr de vouloir supprimer le tracker "{{ object }}"?</p>
                <div class="ds-cluster ds-cluster--center">
                    <button class="ds-btn" type="submit">Confirmer</button>
                    <a class="ds-btn ds-btn--warning" href="{{ object.get_absolute_url }}">Annuler</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
