{% extends 'tracker/base_tracker.html' %}

{% load fontawesome custom_tags %}

{% block tracker_title %}Mes trackers{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <div class="flex-container">
        {% for tracker in trackers %}
            <div class="flex-item tracker" style="background-color: {{ tracker.color }}; color: {{ tracker.color|get_contrast_color }}" onclick="">
                <span class="addTrackBtn">
                    <a href="{% url 'tracker:tracker_quick_add' tracker.id %}" title="Ajouter un nouveau track rapidement">
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </span>
                <a href="{{ tracker.get_absolute_url }}">
                    <h1>{% fontawesome_icon tracker.icone %}</h1>
                    <h3>{{ tracker.nom }}</h3>
                </a>
                <div>{{ tracker.tracks.count }} tracks</div>
            </div>
        {% empty %}
            <div>Pas de tracker enregistré.</div>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Créer un nouveau tracker</h3>
                </div>
                <div class="panel-body">
                    {% include 'tracker/include/tracker_form_table.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}