{% extends 'tracker/base_tracker.html' %}

{% load fontawesome admin_urls static i18n %}

{% block tracker_title %}Tracker {{ tracker.nom }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
    <!-- Confirm Track delete modal -->
    <div id="modalConfirmDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Supprimer un track</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer le track datant du <span id="toDeleteTrackDate"></span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteTrackBtn">Oui</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="text-center">
                <h1 style="background-color: {{ tracker.color }}; padding: 4px 0; border: solid 1px black; border-radius: 4px;">
                    {{ tracker.nom }} {% fontawesome_icon tracker.icone %}
                    <a class="btn btn-info" href="{% url 'tracker:update-tracker' tracker.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger" href="{% url 'tracker:delete-tracker' tracker.id %}">
                        <i class="fa fa-trash"></i>
                    </a>
                </h1>
                <div>
                    {% with tracks_count=tracker.tracks.count %}
                        Créé le {{ tracker.date_creation|date }} à {{ tracker.date_creation|time }}, <b id="totalCount">{{ tracks_count }}</b> track{{ tracks_count|pluralize }} au total.
                    {% endwith %}
                </div>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.commentaire.label_tag }}
                </div>
                <div class="input-group">
                    {{ form.commentaire }}
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="glyphicon glyphicon-plus" title="Ajouter un nouveau track"></i>
                        </button>
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" id="toggleDatetime">
                            <i class="glyphicon glyphicon-time" title="Changer la date et l'heure"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.commentaire.errors }}
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 col-xs-12" id="datetime" style="display: none">
                        <label for="id_datetime">Changer la date et l'heure :</label>
                        <input type="datetime-local" name="datetime" value="{{ form.datetime.value|date:"Y-m-d" }}T{{ form.datetime.value|time:"H:i" }}" class="form-control" required="" id="id_datetime">
                    </div>
                </div>
                <div class="form-group">
                    {{ form.datetime.errors }}
                </div>
            </form>

            <hr>

            <div class="form-group">
                <label for="dates">Filtrer les résultats selon deux dates :</label>
                <input type="text" name="dates" id="dates" class="form-control" />
            </div>

            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#historique">Historique</a></li>
                <li><a data-toggle="tab" href="#statistiques">Statistiques</a></li>
            </ul>

            <div class="tab-content">
                <div id="historique" class="tab-pane fade in active">
                    <h2>Historique <small><span id="trackCount"></span> {{ tracker.nom|lower }}s</small></h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Commentaire</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody id="tracks">
                            {# Will be filled in AJAX #}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="statistiques" class="tab-pane fade">
                    <h2>Statistiques</h2>
                    {% if not tracker.tracks.exists %}
                        <p>Il n'y a pas assez d'enregistrements pour afficher le graphique...</p>
                    {% endif %}
                    <div id="track_gaph"{% if not tracker.tracks.exists %} class="hidden" {% endif %}>
                        <p>
                            <strong id="avg"></strong> {{ tracker.nom|lower }} par <span id="frequency"></span>
                        </p>
                        <div class="text-center">
                            <canvas id="allTracks" width="600" height="400"></canvas>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="H">Heure</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="D" id="default">Jour</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="W">Semaine</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="M">Mois</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="Q">Quart d'année</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="Y">Année</button>
                            </div>
                        </div>
                        <h3>Ecarts</h3>
                        <p>Voici les statistiques des différences de temps entre deux tracks à la suite.</p>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                Plus petit écart : <span id="deltaMin">Pas assez de donnée...</span>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                Ecart moyen : <strong id="deltaAvg">Pas assez de donnée...</strong>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                Plus grand écart : <span id="deltaMax">Pas assez de donnée...</span>
                            </div>
                        </div>
                        <h3>Répartition</h3>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12 text-center">
                                <h4>Par heure de la journée</h4>
                                <canvas id="trackByHourChart" width="600" height="400"></canvas>
                            </div>
                            <div class="col-sm-6 col-xs-12 text-center">
                                <h4>Par jour de la semaine</h4>
                                <canvas id="trackByDayChart" width="600" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="well hidden text-danger text-center" id="noTracks">
                        Aucun track pour la période donnée.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="{% static 'js/moment-with-locales.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        {% get_current_language as LANGUAGE_CODE %}
        moment.locale('{{ LANGUAGE_CODE }}');

        let allTracks = undefined;
        let trackByHourChart = undefined;
        let trackByDayChart = undefined;
        let start = moment().subtract(1, 'month');
        let end = moment();
        const minDate = moment("{{ tracker.tracks.first_track.datetime|date:"c" }}");
        const maxDate = moment("{{ tracker.tracks.last_track.datetime|date:"c" }}").add(1, 'minute');

        const trackerId = '{{ tracker.id }}';
        const frequency_map = {
            H: 'heure',
            D: 'jour',
            W: 'semaine',
            M: 'mois',
            Q: "quart d'année",
            Y: 'an',
        };

        $(() => {
            function daterange_callback(s, e) {
                $('#reportrange span').html(s.format('LLLL') + ' - ' + e.format('LLLL'));
                start = s.format('YY-MM-DD HH:mm:ss');
                end = e.format('YY-MM-DD HH:mm:ss');
                update_all($('button.btn-frequency.active').data('frequency'))
            }

            $('input[name="dates"]').daterangepicker({
                showDropdowns: true,
                timePicker: true,
                timePicker24Hour: true,
                startDate: start,
                endDate: end,
                minDate: minDate,
                maxDate: maxDate,
                locale: {
                    format: 'LLLL',
                    applyLabel: "OK",
                    cancelLabel: "Annuler",
                    fromLabel: "From",
                    toLabel: "To",
                    customRangeLabel: "Personnalisé",
                    weekLabel: "W",
                    daysOfWeek: [
                        "Di",
                        "Lu",
                        "Ma",
                        "Me",
                        "Je",
                        "Ve",
                        "Sa"
                    ],
                    monthNames: [
                        "Janvier",
                        "Février",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Août",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Décembre"
                    ]
                },
                ranges: {
                   'Les 7 derniers jours': [moment().subtract(6, 'days'), moment()],
                   'Les 30 derniers jours': [moment().subtract(1, 'month'), moment()],
                   'Les 3 derniers mois': [moment().subtract(3, 'month'), moment()],
                   'Les 6 derniers mois': [moment().subtract(6, 'month'), moment()],
                   'Les 12 derniers mois': [moment().subtract(1, 'year'), moment()],
                   'Tous': [minDate, maxDate],
                }
            }, daterange_callback);

            allTracks = new Chart(document.getElementById("allTracks"), {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        data: []
                    }]
                },
                options: {
                    legend: {
                        display:false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            trackByHourChart = new Chart(document.getElementById("trackByHourChart"), {
                type: 'bar',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Total',
                        backgroundColor: '#337ab7',
                        data: []
                    }]
                },
                options: {
                    legend: {
                        display:false
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            trackByDayChart = new Chart(document.getElementById("trackByDayChart"), {
                type: 'doughnut',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Total',
                        backgroundColor: [
                            'rgba(255, 0, 0, 0.5)',
                            'rgba(0, 255, 0, 0.5)',
                            'rgba(0, 0, 255, 0.5)',
                            'rgba(255, 255, 0, 0.5)',
                            'rgba(255, 0, 255, 0.5)',
                            'rgba(0, 255, 255, 0.5)',
                            'rgba(0, 0, 0, 0.5)'
                        ],
                        data: []
                    }]
                },
                options: {
                    legend: {
                        display:true,
                        position: 'bottom'
                    },
                    tooltips: {
                        // https://stackoverflow.com/a/37260662/8439435 - Pour ajouter le pourcentage
                        callbacks: {
                            label: function (tooltipItem, data) {
                                // Get the concerned dataset
                                var dataset = data.datasets[tooltipItem.datasetIndex];
                                // Calculate the total of this data set
                                var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                    return previousValue + currentValue;
                                });
                                // Get the current items value
                                var currentValue = dataset.data[tooltipItem.index];
                                // Calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
                                var percentage = Math.floor(((currentValue / total) * 100) + 0.5);

                                return data.labels[tooltipItem.index] + ' : ' + currentValue + ' (' + percentage + "%)";
                            }
                        }
                    }
                }
            });

            daterange_callback(start, end);

            $('.btn-frequency').click(function () {
                update_track_graph($(this).data('frequency'), start, end)
            });

            // Trigger the default one
            $('.btn-frequency#default').trigger('click');

            // Tracker Management

            $('button#toggleDatetime').click(function () {
                $('#datetime').toggle()
            });

            // Call the api endpoint to delete the track and then hide the modal
            $('#deleteTrackBtn').click(function () {
                $.ajax({url: $(this).data('url'), type: 'DELETE'})
                    .done((response) => {
                        $('.track#' + $(this).data('trackId')).fadeOut();
                        $("#modalConfirmDelete").modal('hide');
                        $('span#trackCount').text(parseInt($('span#trackCount').text()) - 1);
                        $('b#totalCount').text(parseInt($('b#totalCount').text()) - 1);
                        update_all($('button.btn-frequency.active').data('frequency'))
                    })
                    .fail((xhr, textStatus, errorThrown) => {
                        alert(textStatus + ' - ' + errorThrown)
                    })
            })
        });

        const update_track_graph = frequency => {
            $.post("{% url 'tracker:tracker-data' %}", {id: trackerId, frequency: frequency, start: start, end: end})
                .done(response => {
                    if (response.labels.length > 0) {
                        $('div#noTracks').addClass('hidden');
                        $('div#track_gaph').removeClass('hidden');
                        allTracks.data.labels = response.labels;
                        allTracks.data.datasets[0].data = response.data;
                        allTracks.update();
                        $('span#frequency').text(frequency_map[frequency]);
                        $('strong#avg').text(response.avg);
                        $('.btn-frequency').removeClass('active');
                        $('.btn-frequency[data-frequency=' + frequency + ']').addClass('active')
                    } else {
                        $('div#track_gaph').addClass('hidden');
                        $('div#noTracks').removeClass('hidden');
                    }
                })
                .fail((xhr, textStatus, errorThrown) => {
                    console.error( '(' + errorThrown + ') ' + (xhr.responseJSON !== undefined ? xhr.responseJSON.error : textStatus));
                });
        };

        const update_all = frequency => {
            update_track_graph(frequency);

            $.post("{% url 'tracker:tracker-other-stats' %}", {id: trackerId, start: start, end: end})
                .done(response => {
                    if (response.trackByHourChart !== undefined && response.trackByDayChart !== undefined) {
                        trackByHourChart.data.labels = response.trackByHourChart.labels;
                        trackByHourChart.data.datasets[0].data = response.trackByHourChart.values;
                        trackByHourChart.update();
                        trackByDayChart.data.labels = response.trackByDayChart.labels;
                        trackByDayChart.data.datasets[0].data = response.trackByDayChart.values;
                        trackByDayChart.update();
                    }
                    if (response.deltaStats) {
                        for (const [key, value] of Object.entries(response.deltaStats)) {
                            $('#' + key).html(value);
                        }
                    }
                })
                .fail((xhr, textStatus, errorThrown) => {
                    console.error( '(' + errorThrown + ') ' + (xhr.responseJSON !== undefined ? xhr.responseJSON.error : textStatus));
                });

            $.post("{% url 'tracker:tracker-history' %}", {id: trackerId, start: start, end: end})
                .done(response => {
                    $('tbody#tracks').html(response.html);
                    $('span#trackCount').text(response.trackCount);

                    // Next functions are added only after the table has been built in order to make these events work

                    // Display a track form and hide all the others
                    $('.displayForm').click(function () {
                        const track = $(this).closest('tr');
                        $('.track').removeClass('hidden');
                        track.addClass('hidden');
                        $('.trackForm').addClass('hidden');
                        track.next().removeClass('hidden')
                    });

                    // Hide a track form
                    $('.cancelBtn').click(function () {
                        const trackForm = $(this).closest('tr');
                        trackForm.addClass('hidden');
                        trackForm.prev().removeClass('hidden');
                    });

                    // Submit a track edit form in AJAX
                    $('.trackForm form').submit(function (e) {
                        e.preventDefault();
                        $.ajax({url: $(this).attr('action'), type: 'PUT', dataType: 'json', data: $(this).serialize()})
                            .done((response) => {
                                const track = $(this).closest('tr').prev();
                                track.find('td.commentaire').text(response.commentaire);
                                const datetime = moment(response.datetime).format('LLL');
                                track.find('td.date').text(datetime);
                                $(this).find('.cancelBtn').trigger('click')
                            })
                            .fail(err => {
                                $.each(err.responseJSON, (name, error) => {
                                    $(this).find('input[name=' + name + ']').parent().addClass('has-error').append('<div class="errorlist">' + error + '</div>')
                                })
                            })
                    });

                    // Display the confirm track delete modal
                    $('.modalConfirmDelete').click(function () {
                        const track = $(this).closest('tr');
                        $('#deleteTrackBtn').data('trackId', track.attr('id')).data('url', $(this).data('targetUrl'));
                        $('#toDeleteTrackDate').text(track.find('td.date').text());
                        $("#modalConfirmDelete").modal();
                    });
                })
                .fail((xhr, textStatus, errorThrown) => {
                    console.error( '(' + errorThrown + ') ' + (xhr.responseJSON !== undefined ? xhr.responseJSON.error : textStatus));
                });
        }
    </script>
{% endblock %}