{% extends 'tracker/base_tracker.html' %}

{% load fontawesome admin_urls static i18n %}

{% block tracker_title %}Tracker {{ tracker.nom }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
    <!-- Confirm Track delete modal -->
    <div id="modalConfirmDelete" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Supprimer un track</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer le track datant du <span id="toDeleteTrackDate"></span> ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteTrackBtn">Oui</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div class="text-center">
                <h1 style="background-color: {{ tracker.color }}; padding: 4px 0; border: solid 1px black; border-radius: 4px;">
                    {{ tracker.nom }} {% fontawesome_icon tracker.icone %}
                    <a class="btn btn-info" href="{% url 'tracker:update-tracker' tracker.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger" href="{% url 'tracker:delete-tracker' tracker.id %}">
                        <i class="fa fa-trash"></i>
                    </a>
                </h1>
                <div>Créé le {{ tracker.date_creation|date }} à {{ tracker.date_creation|time }}</div>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.commentaire.label_tag }}
                </div>
                <div class="input-group">
                    {{ form.commentaire }}
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="glyphicon glyphicon-plus" title="Ajouter un nouveau track"></i>
                        </button>
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" id="toggleDatetime">
                            <i class="glyphicon glyphicon-time" title="Changer la date et l'heure"></i>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.commentaire.errors }}
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 col-xs-12" id="datetime" style="display: none">
                        <label for="id_datetime">Changer la date et l'heure :</label>
                        <input type="datetime-local" name="datetime" value="{{ form.datetime.value|date:"Y-m-d" }}T{{ form.datetime.value|time:"H:i" }}" class="form-control" required="" id="id_datetime">
                    </div>
                </div>
                <div class="form-group">
                    {{ form.datetime.errors }}
                </div>
            </form>

            <hr>

            <div class="form-group">
                <label for="dates">Filtrer les résultats selon deux dates :</label>
                <input type="text" name="dates" id="dates" class="form-control" />
            </div>

            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#statistiques">Statistiques</a></li>
                <li><a data-toggle="tab" href="#historique">Historique</a></li>
            </ul>

            <div class="tab-content">
                <div id="statistiques" class="tab-pane fade in active">
                    <h2>Statistiques</h2>
                    {% if tracker.tracks.count < 3 %}
                        <p>Il n'y a pas assez d'enregistrements pour afficher le graphique...</p>
                        {% else %}
                        <p>
                            <strong id="avg"></strong> {{ tracker.nom|lower }} par <span id="frequency"></span>
                        </p>
                        <div class="text-center">
                            <canvas id="allTracks" width="600" height="400"></canvas>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="H">Heure</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="D" id="default">Jour</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="W">Semaine</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="M">Mois</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="Q">Quart d'année</button>
                            </div>
                            <div class="col-md-2 col-xs-6 text-center">
                                <button type="button" class="btn btn-default btn-frequency" data-frequency="Y">Année</button>
                            </div>
                        </div>
                        <h3>Répartition</h3>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12 text-center">
                                <h4>Par heure de la journée</h4>
                                <canvas id="trackByHourChart" width="600" height="400"></canvas>
                            </div>
                            <div class="col-sm-6 col-xs-12 text-center">
                                <h4>Par jour de la semaine</h4>
                                <canvas id="trackByDayChart" width="600" height="400"></canvas>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div id="historique" class="tab-pane fade">
                    <h2>Historique <small>{{ tracker.tracks.count }} tracks</small></h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Commentaire</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for track in tracks %}
                                <tr class="track" id="{{ track.id }}">
                                    <td class="date">{{ track.datetime|date }} {{ track.datetime|time }}</td>
                                    <td class="commentaire">
                                        {{ track.commentaire }}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default displayForm">
                                            <i class="fa fa-edit" title="Editer ce track"></i>
                                        </button>
                                        <button type="button" class="btn btn-warning modalConfirmDelete" data-target-url="{% url 'tracker:delete-track' track.id %}">
                                            <i class="fa fa-trash" title="Supprimer ce track"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr class="trackForm hidden">
                                    <td colspan="3">
                                        <form class="form" action="{% url 'tracker:update-track' track.id %}">
                                            {% csrf_token %}
                                            <div class="col-xs-5">
                                                <input type="datetime-local" name="datetime" value="{{ track.datetime|date:"Y-m-d" }}T{{ track.datetime|time:"H:i" }}" class="form-control" required="" id="id_datetime">
                                            </div>
                                            <div class="col-xs-5">
                                                {{ track.form.commentaire }}
                                            </div>
                                            <div class="col-xs-2">
                                                <button type="submit" class="btn btn-primary validateBtn">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <button type="button" class="btn btn-default cancelBtn">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="{% static 'js/moment-with-locales.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(() => {
            {% get_current_language as LANGUAGE_CODE %}
            moment.locale('{{ LANGUAGE_CODE }}');

            const start = moment().subtract(29, 'days');
            const end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('LLLL') + ' - ' + end.format('LLLL'));
                console.log(start.format('YY-MM-DD HH:mm:ss'));
                console.log(end.format('YY-MM-DD HH:mm:ss'))
                // TODO Ajax call and update graphs
            }

            $('input[name="dates"]').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                startDate: start,
                endDate: end,
                maxDate: moment(),
                locale: {
                    format: 'LLLL',
                    applyLabel: "OK",
                    cancelLabel: "Annuler",
                    fromLabel: "From",
                    toLabel: "To",
                    customRangeLabel: "Personnalisé",
                    weekLabel: "W",
                    daysOfWeek: [
                        "Di",
                        "Lu",
                        "Ma",
                        "Me",
                        "Je",
                        "Ve",
                        "Sa"
                    ],
                    monthNames: [
                        "Janvier",
                        "Février",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Août",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Décembre"
                    ]
                },
                ranges: {
                   "Aujourd'hui": [moment(), moment()],
                   'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Les 7 derniers jours': [moment().subtract(6, 'days'), moment()],
                   'Les 30 derniers jours': [moment().subtract(29, 'days'), moment()],
                   'Ce mois-ci': [moment().startOf('month'), moment().endOf('month')],
                   'Le mois derniers': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            if (document.getElementById("allTracks") !== null) {
                var allTracks = new Chart(document.getElementById("allTracks"), {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            data: []
                        }]
                    },
                    options: {
                        legend: {
                            display:false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });

                var trackByHourChart = new Chart(document.getElementById("trackByHourChart"), {
                    type: 'bar',
                    data: {
                        labels: [{% for hour in tracker.track_by_hour.keys %}'{{ hour }}h',{% endfor %}],
                        datasets: [{
                            label: 'Total',
                            backgroundColor: '#337ab7',
                            data: [{% for value in tracker.track_by_hour.values %}{{ value }},{% endfor %}]
                        }]
                    },
                    options: {
                        legend: {
                            display:false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });

                var trackByDayChart = new Chart(document.getElementById("trackByDayChart"), {
                    type: 'doughnut',
                    data: {
                        labels: [{% for day in tracker.track_by_day.keys %}'{{ day }}',{% endfor %}],
                        datasets: [{
                            label: 'Total',
                            backgroundColor: [
                                'rgba(255, 0, 0, 0.5)',
                                'rgba(0, 255, 0, 0.5)',
                                'rgba(0, 0, 255, 0.5)',
                                'rgba(255, 255, 0, 0.5)',
                                'rgba(255, 0, 255, 0.5)',
                                'rgba(0, 255, 255, 0.5)',
                                'rgba(0, 0, 0, 0.5)'
                            ],
                            data: [{% for value in tracker.track_by_day.values %}{{ value }},{% endfor %}]
                        }]
                    },
                    options: {
                        legend: {
                            display:true,
                            position: 'bottom'
                        },
                        tooltips: {
                            // https://stackoverflow.com/a/37260662/8439435 - Pour ajouter le pourcentage
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    // Get the concerned dataset
                                    var dataset = data.datasets[tooltipItem.datasetIndex];
                                    // Calculate the total of this data set
                                    var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                        return previousValue + currentValue;
                                    });
                                    // Get the current items value
                                    var currentValue = dataset.data[tooltipItem.index];
                                    // Calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
                                    var percentage = Math.floor(((currentValue / total) * 100) + 0.5);

                                    return data.labels[tooltipItem.index] + ' : ' + currentValue + ' (' + percentage + "%)";
                                }
                            }
                        }
                    }
                });

                var trackerId = {{ tracker.id }};
                var url = "{% url 'tracker:tracker-data' %}";
                const frequency_map = {
                    H: 'heure',
                    D: 'jour',
                    W: 'semaine',
                    M: 'mois',
                    Q: "quart d'année",
                    Y: 'an',
                };

                $('.btn-frequency').click(function (e) {
                    const frequency = $(this).data('frequency');
                    $.post(url, {id: trackerId, frequency: frequency})
                        .done(response => {
                            allTracks.data.labels = response.labels;
                            allTracks.data.datasets[0].data = response.data;
                            allTracks.update();
                            $('span#frequency').text(frequency_map[frequency]);
                            $('strong#avg').text(response.avg);
                            $('.btn-frequency').removeClass('active');
                            $(this).addClass('active')
                        })
                        .fail((xhr, textStatus, errorThrown) => {
                            console.error( '(' + errorThrown + ') ' + (xhr.responseJSON !== undefined ? xhr.responseJSON.error : textStatus));
                        })
                });

                // Trigger the default one
                $('.btn-frequency#default').trigger('click');
            }

            // Tracker Management

            $('button#toggleDatetime').click(function () {
                $('#datetime').toggle()
            });

            // Display a track form and hide all the others
            $('.displayForm').click(function () {
                const track = $(this).closest('tr');
                $('.track').removeClass('hidden');
                track.addClass('hidden');
                $('.trackForm').addClass('hidden');
                track.next().removeClass('hidden')
            });

            // Hide a track form
            $('.cancelBtn').click(function () {
                const trackForm = $(this).closest('tr');
                trackForm.addClass('hidden');
                trackForm.prev().removeClass('hidden');
            });

            // Submit a track edit form in AJAX
            $('.trackForm form').submit(function (e) {
                e.preventDefault();
                $.ajax({url: $(this).attr('action'), type: 'PUT', dataType: 'json', data: $(this).serialize()})
                    .done((response) => {
                        const track = $(this).closest('tr').prev();
                        track.find('td.commentaire').text(response.commentaire);
                        const datetime = moment(response.datetime).format('LLL');
                        track.find('td.date').text(datetime);
                        $(this).find('.cancelBtn').trigger('click')
                    })
                    .fail(err => {
                        $.each(err.responseJSON, (name, error) => {
                            $(this).find('input[name=' + name + ']').parent().addClass('has-error').append('<div class="errorlist">' + error + '</div>')
                        })
                    })
            });

            // Display the confirm track delete modal
            $('.modalConfirmDelete').click(function () {
                const track = $(this).closest('tr');
                $('#deleteTrackBtn').data('trackId', track.attr('id')).data('url', $(this).data('targetUrl'));
                $('#toDeleteTrackDate').text(track.find('td.date').text());
                $("#modalConfirmDelete").modal();
            });

            // Call the api endpoint to delete the track and then hide the modal
            $('#deleteTrackBtn').click(function () {
                $.ajax({url: $(this).data('url'), type: 'DELETE'})
                    .done((response) => {
                        $('.track#' + $(this).data('trackId')).fadeOut();
                        $("#modalConfirmDelete").modal('hide')
                    })
                    .fail((xhr, textStatus, errorThrown) => {
                        alert(textStatus + ' - ' + errorThrown)
                    })
            })
        })
    </script>
{% endblock %}