/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.content {
    margin: 20px;
}

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
