/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

footer p a
{
    margin: 0;
    transition: margin 600ms;
}

footer p a:hover
{
    margin: 0 13px;
    transition: margin 300ms;
}

footer p a i:hover {
    color: white;
}

.content {
    margin: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    flex-basis: 13em;
}


/* Rallye des Colocs */
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

.hotes {
    text-align: center;
}

.hote {
    width: 70%;
    margin-left: auto;
    text-align: left;
}

.number {
    position: relative;
    left: -100px;
    top: 80px;
    font-size: 2.8em;
    border: double 6px red;
    border-radius: 50%;
    padding: 10px 17px;
}
/* ----------- */