<div class="row">
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="H">Heure</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="D">Jour</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="W">Semaine</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="M">Mois</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="Q">Quart d'année</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="Y">Année</button>
    </div>
</div>