<div class="row">
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="h">Heure</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="D">Jour</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="W">Semaine</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="ME">Mois</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="QE">Quart d'année</button>
    </div>
    <div class="col-md-2 col-xs-6 text-center">
        <button type="button" class="btn btn-default btn-frequency" data-frequency="YE">Année</button>
    </div>
</div>