{% for track in tracks %}
    <tr class="track" id="{{ track.id }}">
        {% if compare %}
            <td>{{ track.tracker }}</td>
        {% endif %}
        <td class="date">{{ track.datetime|date }} {{ track.datetime|time }}</td>
        {% if show_valeur %}
            <td class="valeur">{{ track.valeur|floatformat:"-2"|default:"-" }}</td>
        {% endif %}
        <td class="commentaire">
            {{ track.commentaire }}
        </td>
        {% if not compare %}
            <td>
                <button type="button" class="ds-btn ds-btn--ghost ds-btn--sm displayForm">
                    <i class="fa fa-edit" title="Editer ce track"></i>
                </button>
                <button type="button" class="ds-btn ds-btn--warning ds-btn--sm modalConfirmDelete"
                        data-target-url="{% url 'tracker:delete-track' track.id %}">
                    <i class="fa fa-trash" title="Supprimer ce track"></i>
                </button>
            </td>
        {% endif %}
    </tr>
    {% if not compare %}
        <tr class="trackForm ds-hidden">
            <td colspan="99">
                <form class="form ds-cluster" action="{% url 'tracker:update-track' track.id %}">
                    {% csrf_token %}
                    <input type="datetime-local" name="datetime"
                           value="{{ track.datetime|date:"Y-m-d" }}T{{ track.datetime|time:"H:i" }}"
                           required style="width: auto">
                    {% if show_valeur %}
                        {{ track.form.valeur }}
                    {% endif %}
                    {{ track.form.commentaire }}
                    <button type="submit" class="ds-btn ds-btn--sm validateBtn">
                        <i class="fa fa-check"></i>
                    </button>
                    <button type="button" class="ds-btn ds-btn--ghost ds-btn--sm cancelBtn">
                        <i class="fa fa-times"></i>
                    </button>
                </form>
            </td>
        </tr>
    {% endif %}
{% empty %}
    <tr>
    <td colspan="99" class="ds-text-center ds-text-danger">Aucun track pour la période donnée. </td>
    </tr>
{% endfor %}
