{% extends 'my_spot/base_my_spot.html' %}

{% load custom_tags %}

{% block spot_title %}Carte {% endblock %}

{% block content %}
    <div id="map" style="height: 500px"></div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        function initMap() {
            $.get('{% url 'my_spot:map' %}').done(reponse => {
                let map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: {lat: 45.7580539, lng: 4.7650805}
                });
                let infoWindow = new google.maps.InfoWindow({
                    content: '...'
                });

                reponse.spots.forEach(spot => {
                    let color = "purple";  {# Si c'est violet, c'est qu'il y a une erreur... #}
                    if (spot.visibilite === 3 || spot.perso) {
                        color = "blue";
                    } else if (spot.visibilite === 2) {
                        color = "green";
                    } else if (spot.visibilite === 1) {
                        color = "red";
                    }
                    const url = "http://maps.google.com/mapfiles/ms/icons/" + color + "-dot.png";
                    let marker = new google.maps.Marker({
                        position: {
                            lat: parseFloat(spot.position.lat),
                            lng: parseFloat(spot.position.lng)
                        },
                        map: map,
                        title: spot.nom,
                        animation: google.maps.Animation.DROP,
                        icon: {
                            url: url
                        }
                    });

                    marker.addListener('click', function () {
                        infoWindow.setContent(spot.content);
                        infoWindow.open(map, marker);
                    })
                })
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9uAZiNr9tAg4Y_Vc3xvlpFsCVBB2goEw&callback=initMap">
    </script>
{% endblock %}