<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Benbb96{% endblock %} | Benbb96</title>

    <!-- Favicon -->
    {% include 'favicon.html' %}

    {# Load the tag library #}
    {% load bootstrap3 static fontawesome %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'avis/css/avis-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    {% fontawesome_stylesheet %}

    {# Load CSS and JavaScript #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% bootstrap_javascript jquery='full' %}
    {% block stylesheet %}{% endblock %}
</head>
<body>

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

<div class="jumbotron">
    <div class="container text-center">
        <h1>{% block jumbotron_title %}Benbb96{% endblock %}</h1>
        <p>{% block jumbotron_description %}Juste une interface pour experimenter mon code...{% endblock %}</p>
    </div>
</div>

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="content">
    {% block content %}{% endblock %}
</div>
{% include 'footer.html' %}

{% block javascript %}{% endblock %}
</body>
</html>