{% load i18n fontawesome_6 %}

<nav class="ds-nav">
    <div class="ds-nav__inner">
        {# Checkbox-hack : pilote l'ouverture du menu mobile sans JavaScript #}
        <input type="checkbox" class="ds-nav__toggle" id="ds-nav-toggle" hidden>
        <a class="ds-nav__brand" href="{% url 'base:home' %}">Benbb96</a>
        <label class="ds-nav__burger" for="ds-nav-toggle" aria-label="{% trans 'Menu' %}">
            {% fa6_icon 'bars' %}
        </label>

        <div class="ds-nav__collapse">
            <ul class="ds-nav__menu">
                <li class="ds-nav__item {% if home %}is-active{% endif %}"><a href="{% url 'base:home' %}">{% trans "Home" %}</a></li>
                <li class="ds-nav__item {% if about %}is-active{% endif %}"><a href="{% url 'base:about' %}">{% trans "About" %}</a></li>
                <li class="ds-nav__item {% if avis %}is-active{% endif %}"><a href="{% url 'avis:liste-avis' %}">{% trans "Reviews" %}</a></li>
                <li class="ds-nav__item {% if music %}is-active{% endif %}"><a href="{% url 'music:liste-playlists' %}">{% trans "Musics" %}</a></li>
                <li class="ds-nav__item {% if spot %}is-active{% endif %}"><a href="{% url 'my_spot:map' %}">{% trans "MySpot" %}</a></li>
                {% if request.user.is_authenticated %}
                    <li class="ds-nav__item {% if tracker %}is-active{% endif %}"><a href="{% url 'tracker:liste-tracker' %}">{% trans "Trackers" %}</a></li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li class="ds-nav__item"><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li>
                {% endif %}
            </ul>

            <ul class="ds-nav__menu ds-nav__menu--right">
                <li class="ds-nav__item">
                    <form class="ds-nav__lang" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <label class="ds-sr-only" for="ds-lang-select">{% trans "Language" %}</label>
                        <select name="language" id="ds-lang-select">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                    {{ language.name_local|capfirst }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="ds-btn ds-btn--ghost ds-btn--sm">{% trans "OK" %}</button>
                    </form>
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="ds-nav__item">
                        <a href="{% url 'login' %}">{% fa6_icon 'right-to-bracket' %} {% trans "Login" %}</a>
                    </li>
                {% else %}
                    <li class="ds-nav__item {% if profil %}is-active{% endif %}">
                        <a href="{% url 'base:profil' request.user.username %}">{% fa6_icon 'user' %} {{ request.user }}</a>
                    </li>
                    <li class="ds-nav__item">
                        <a href="{% url 'logout' %}">{% fa6_icon 'right-from-bracket' %} {% trans "Logout" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
