{% extends 'base/profil/base_profil.html' %}

{% block profil_title %}Avis{% endblock %}

{% block avis_active %} is-active{% endblock %}

{% block profil_content %}
    <h2>Derniers avis</h2>
    <div class="ds-grid ds-grid--3">
        {% for avis in user.profil.derniers_avis|slice:"6" %}
            {% if request.user.is_authenticated or not avis.prive %}
                <div>
                    {% include 'avis/avis_thumbnail.html' %}
                </div>
            {% endif %}
        {% empty %}
            <div>{{ user }} n'a donné aucun avis pour le moment.</div>
        {% endfor %}
    </div>
{% endblock %}
