{% extends 'base.html' %}

{% block navbar %}
{% include 'navbar.html' with home=False %}
{% endblock %}

{% block title %}
    {% block profil_title %}Profil{% endblock %} de {{ user }}
{% endblock %}
{% block jumbotron_title %}{{ user }}{% endblock %}
{% block jumbotron_description %}
    {% if user.profil.avatar %}
        <div class="text-center">
            <img class="img-rounded" src="{{ user.profil.avatar.url }}" alt="Avatar de {{ user }}" style="max-height: 300px"/>
            {% if user.username == 'Benbb96' %}
                <a href="https://dev.to/benbb96">
                    <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="BBB's DEV Profile" height="30" width="30" style="vertical-align: bottom">
                </a>
            {% endif %}
        </div>
    {% endif %}
    {% if user.get_full_name %}
        <div>
            {{ user.get_full_name }}
        </div>
    {% endif%}
    {% if request.user == user %}
        <div>
            {% block change_password %}
                <a href="{% url 'base:change_password' %}">Changer le mot de passe</a>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            <ul class="nav nav-pills nav-justified">
                <li{% block info_active %}{% endblock %}>
                    <a href="{% url 'base:profil' user.username %}">Informations</a>
                </li>
                <li{% block avis_active %}{% endblock %}>
                    <a href="{% url 'base:profil-avis' user.username %}">Avis</a>
                </li>
                <li{% block music_active %}{% endblock %}>
                    <a href="{% url 'base:profil-music' user.username %}">Musique</a>
                </li>
                <li{% block versus_active %}{% endblock %}>
                    <a href="{% url 'base:profil-versus' user.username %}">Versus</a>
                </li>
                {# TODO Ajouter spots #}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            {% block profil_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
