{% extends 'base.html' %}

{% block navbar %}
{% include 'navbar.html' with profil=True %}
{% endblock %}

{% block title %}
    {% block profil_title %}Profil{% endblock %} de {{ user }}
{% endblock %}
{% block jumbotron_title %}{{ user }}{% endblock %}
{% block jumbotron_description %}
    {% if user.profil.avatar %}
        <div class="ds-text-center">
            <img class="ds-rounded" src="{{ user.profil.avatar.url }}" alt="Avatar de {{ user }}" style="max-height: 300px"/>
            {% if user.username == 'Benbb96' %}
                <a href="https://dev.to/benbb96">
                    <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="BBB's DEV Profile" height="30" width="30" style="vertical-align: bottom">
                </a>
            {% endif %}
        </div>
    {% endif %}
    {% if user.get_full_name %}
        <div>
            {{ user.get_full_name }}
        </div>
    {% endif%}
    {% if request.user == user %}
        <div>
            {% block change_password %}
                <a href="{% url 'base:change_password' %}">Changer mon mot de passe</a> |
                <a href="{% url 'base:update_profil' user.username %}">Modifier mon profil</a>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ds-narrow ds-narrow--lg">
        <ul class="ds-tabs ds-tabs--justified">
            <li class="ds-tabs__item{% block info_active %}{% endblock %}">
                <a href="{% url 'base:profil' user.username %}">Informations</a>
            </li>
            <li class="ds-tabs__item{% block avis_active %}{% endblock %}">
                <a href="{% url 'base:profil-avis' user.username %}">Avis</a>
            </li>
            <li class="ds-tabs__item{% block music_active %}{% endblock %}">
                <a href="{% url 'base:profil-music' user.username %}">Musique</a>
            </li>
            <li class="ds-tabs__item{% block versus_active %}{% endblock %}">
                <a href="{% url 'base:profil-versus' user.username %}">Versus</a>
            </li>
            <li class="ds-tabs__item">
                <a href="{% url 'kendama:profil' user.username %}">Kendama</a>
            </li>
            {# TODO Ajouter spots #}
        </ul>
    </div>

    <div class="ds-narrow ds-narrow--lg">
        {% block profil_content %}{% endblock %}
    </div>
{% endblock %}
