{% extends 'base/profil/base_profil.html' %}

{% block change_password %}
    <a href="{% url 'base:profil' request.user.username %}">Retour</a>
{% endblock %}

{% block content %}
    <div class="ds-narrow">
        <form method="post">
            {% csrf_token %}
            {% include 'components/form.html' %}
            <div class="ds-cluster ds-cluster--center ds-mt-4">
                <button type="submit" class="ds-btn">Valider le changement</button>
            </div>
        </form>
    </div>
{% endblock %}
