{% extends 'base/profil/base_profil.html' %}

{% load static bootstrap3 %}

{% block change_password %}
    <a href="{% url 'base:profil' request.user.username %}">Retour</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    {% bootstrap_button "Valider le changement" button_type="submit" button_class="btn-primary" %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}