{% extends 'base.html' %}

{% load bootstrap3 %}

{% block navbar %}
{% include 'navbar.html' with home=False %}
{% endblock %}

{% block title %}
    Edition Profil
{% endblock %}
{% block jumbotron_title %}Edition du profil de {{ profil }}{% endblock %}
{% block jumbotron_description %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                    {% bootstrap_button "Sauvegarder les modifications" button_type="submit" button_class="btn-primary" %}
                    <a href="{{ profil.get_absolute_url }}" class="btn btn-default">Annuler</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}