{% extends 'base.html' %}

{% block navbar %}
{% include 'navbar.html' with home=False %}
{% endblock %}

{% block title %}
    Edition Profil
{% endblock %}
{% block jumbotron_title %}Edition du profil de {{ profil }}{% endblock %}
{% block jumbotron_description %}{% endblock %}

{% block content %}
    <div class="ds-narrow">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'components/form.html' %}
            <div class="ds-cluster ds-cluster--center ds-mt-4">
                <button type="submit" class="ds-btn">Sauvegarder les modifications</button>
                <a href="{{ profil.get_absolute_url }}" class="ds-btn ds-btn--ghost">Annuler</a>
            </div>
        </form>
    </div>
{% endblock %}
