{% extends 'base/profil/base_profil.html' %}

{% block profil_title %}Parties{% endblock %}

{% block versus_active %} class="active"{% endblock %}

{% block profil_content %}
    {% if user.profil.joueur %}
        <div class="pull-right">
            <a class="btn btn-default" href="{% url 'versus:detail-joueur' user.profil.joueur.slug %}">Voir le profil dans Versus</a>
        </div>
        <h1>Dernières parties</h1>
        {% for partie in user.profil.joueur.partie_set.all|slice:"6" %}
            <h3>
                <a href="{{ partie.jeu.get_absolute_url }}">{{ partie.jeu }}</a> -
                <small>{{ partie.date|date:'l j F Y, H:i' }}</small>
            </h3>
            {% include 'versus/partie_table.html' %}
        {% empty %}
            <div>{{ user }} n'a fait aucune parties.</div>
        {% endfor %}
    {% else %}
        <p class="well text-center" style="margin-top: 20px">{{ user }} n'a pas de profil Joueur.</p>
    {% endif %}
{% endblock %}
