{% extends 'base.html' %}

{% load static i18n %}

{% block navbar %}
    {% include 'navbar.html' with about=True %}
{% endblock %}

{% block title %}{% trans "About" %}{% endblock %}
{% block jumbotron_title %}{% trans "About me" %}{% endblock %}
{% block jumbotron_description %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="{% static 'img/bbb.jpg' %}" alt="{% trans "Picture of me" %}" title="{% trans "It's me!" %}" style="width: 80%; margin-bottom: 15px"/>
        </div>
        <div class="col-sm-8">
            {% blocktrans with django_site='https://www.djangoproject.com/' github='https://github.com/Benbb96/benbb96/' %}
                Hey, it's me, Benjamin, but everybody call me BBB !<br><br>
                I love to code in Python with the Framework <a href="{{ django_site }}" target="_blank">Django</a>. That's why this website exists !<br>
                I'd like to host a lot of personal projects which come from simple ideas or needs I have in my daily life.<br><br>
                You can follow the project flow on my GitHub repository : <a href="{{ github }}" target="_blank">{{github}}</a>.<br>
                Also find me on numerous social networks displayed on the bottom 😉
            {% endblocktrans %}
        </div>
    </div>
{% endblock %}