{% extends 'base.html' %}

{% load static %}

{% block title %}Gallerie{% endblock %}

{% block navbar %}
{% include 'navbar.html' with gallery=True %}
{% endblock %}

{% block content %}
    <h1>Gallerie</h1>
    <div class="ds-carousel">
        <div class="ds-carousel__track">
            <div class="ds-carousel__slide" id="gallery-slide-1">
                <img src="{% static 'img/1.jpg' %}" alt="Los Angeles">
                <div class="ds-carousel__caption">
                    <h3>Los Angeles</h3>
                    <p>LA is always so much fun!</p>
                </div>
            </div>
            <div class="ds-carousel__slide" id="gallery-slide-2">
                <img src="{% static 'img/2.png' %}" alt="Chicago">
                <div class="ds-carousel__caption">
                    <h3>Chicago</h3>
                    <p>Thank you, Chicago!</p>
                </div>
            </div>
            <div class="ds-carousel__slide" id="gallery-slide-3">
                <img src="{% static 'img/1.jpg' %}" alt="New York">
                <div class="ds-carousel__caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                </div>
            </div>
        </div>
        <ul class="ds-carousel__dots">
            <li><a href="#gallery-slide-1" aria-label="Los Angeles"></a></li>
            <li><a href="#gallery-slide-2" aria-label="Chicago"></a></li>
            <li><a href="#gallery-slide-3" aria-label="New York"></a></li>
        </ul>
    </div>
{% endblock %}
