{% extends 'base/base.html' %}

{% load static %}

{% block base_title %}Accueil{% endblock %}
{% block jumbotron_title %}Mes projets{% endblock %}
{% block jumbotron_description %}Voici la liste des projets que je rends disponible pour le moment.{% endblock %}

{% block base_content %}
    <div class="container-fluid bg-3 text-center">
        <div class="row">
        {% for projet in object_list %}
            {% if projet.actif %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3><a href="{{ projet.get_absolute_url }}">{{ projet.nom }}</a></h3>
                <a href="{{ projet.get_absolute_url }}">
                    <img src="{% if projet.image %}{{ projet.image.url }}{% endif %}" class="img-responsive" style="max-height: 300px; margin: auto" alt="Projet {{ projet.nom }}">
                </a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}