{% extends 'base.html' %}

{% block title %}Rallye des Colocs{% endblock %}

{% block jumbotron_title %}<a href="https://www.facebook.com/events/1899140316784594/" target="_blank">Rallye des Colocs</a>{% endblock %}
{% block jumbotron_description %}Mardi 19 Juin 2018, de 19h à 23h, réservé aux étudiants de G4 !{% endblock %}

{% block content %}
<h3>La carte des Hôtes !</h3>
<div id="map"></div>
<div class="hotes">
    <div class="hote">
        <span class="number">1</span>
        <h2>Sam Mignot</h2>
        <p><i>Numéro de téléphone</i> : <a href="tel:+33664686568">06 64 68 65 68</a></p>
        <p>
            <i>Adresse</i> : <a target="_blank" href="https://maps.google.com/?q=2 rue de l'Oiselière, Lyon 69009">2 rue de l'Oiselière</a>, code B00000 1er étage (porte MIGNOT)<br>
            <i>Accès TCL depuis G4</i> : marcher 13 minutes dans la direction indiqué par votre GPS :p
        </p>
    </div>
    <div class="hote">
        <span class="number">2</span>
        <h2>Benjamin Bernard-Bouissières</h2>
        <p><i>Numéro de téléphone</i> : <a href="tel:+33605041666">06 05 04 16 66</a></p>
        <p>
            <i>Adresse</i> : <a target="_blank" href="https://maps.google.com/?q=11 rue Mottet de Gerando, Lyon 69001">11 rue Mottet de Gérando</a><br>
            <i>Accès TCL depuis chez Sam</i> : Bus 45 (traverser le pont pour aller à l'arrêt Serin - Saint-Charles) pui jusqu'au terminus <b>Croix-Rousse</b> ou bien Métro D => A => C.
        </p>
    </div>
    <div class="hote">
        <span class="number">3</span>
        <h2>Julie Lo Curto</h2>
        <p><i>Numéro de téléphone</i> : <a href="tel:+33677735208">06 77 73 52 08</a></p>
        <p>
            <i>Adresse</i> : <a target="_blank" href="https://maps.google.com/?q=1 rue Santos Dumont, Lyon 69008">1 rue Santos Dumont</a><br>
            <i>Accès TCL depuis Croix-Rousse</i> : Métro A jusqu'à Bellecour, puis métro D direction Gare de Vénissieux, arrêt <b>Sans Soucis</b>.<br>
            <i>Informations</i> : Chanter "I'm a Barbie Girl" quand vous arrivez et Julie viendra vous ouvrir !
        </p>
    </div>
    <div class="hote">
        <span class="number">4</span>
        <h2>Joan Tassel</h2>
        <p><i>Numéro de téléphone</i> : <a href="tel:+33640605718">06 40 60 57 18</a></p>
        <p>
            <i>Adresse</i> : <a target="_blank" href="https://maps.google.com/?q=40 rue Villon, Lyon 69008">40 rue Villon</a><br>
            <i>Accès depuis chez Julie</i> : 7 minutes à pied ;)
        </p>
    </div>
    <div class="hote">
        <span class="number">5</span>
        <h2>Baptiste Rochez</h2>
        <p><i>Numéro de téléphone</i> : <a href="tel:+33615331175">06 15 33 11 75</a></p>
        <p>
            <i>Adresse</i> : <a target="_blank" href="https://maps.google.com/?q=152 rue avenue Jean Jaurès, Lyon 69007">152 avenue Jean Jaurès</a><br>
            <i>Accès TCL depuis chez Joan</i> : Marcher jusqu'à l'arrêt Villon du T2 et le prendre direction Perrache, arrêt <b>Jean Macé</b><br>
            <i>Informations</i> : Il faut prendre la rue derrière l'immeuble et sonner à l'interfone au nom de Rochez, monter au 5ème étage avec le code de l'ascenseur 5310.<br>
            Bon courage !!
        </p>
    </div>
</div>
<script>
// Initialize and add the map
function initMap() {
    var lyon = {lat: 45.76, lng: 4.83};
    var map = new google.maps.Map(document.getElementById('map'), {zoom: 13, center: lyon});

    var steps = [
        {lat: 45.7713346, lng: 4.799},  // G4
        {lat: 45.7754479, lng: 4.8022},  // Sam
        {lat: 45.773364, lng: 4.8349},  // BBB
        {lat: 45.7438883, lng: 4.86},  // Julie
        {lat: 45.7438825, lng: 4.8655},  // Joan
        {lat: 45.7400815, lng: 4.8385}  // Baptou
    ];
    var path = new google.maps.Polyline({
        path: steps,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
    });
    path.setMap(map);

    var g4 = new google.maps.Marker(
        {position: steps[0], map: map, title: 'Institut G4', animation: google.maps.Animation.DROP,
        label: '0'}
    );
    g4.addListener('click', function() {
        new google.maps.InfoWindow({content: '<div><h4>0. Institut G4</h4></div>'}).open(map, g4);
    });

    var sam = new google.maps.Marker(
        {position: steps[1], map: map, title: 'Chez Sam', animation: google.maps.Animation.DROP,
        label: '1'}
    );
    sam.addListener('click', function() {
        new google.maps.InfoWindow(
        {content: '<div><h4>1. Sam</h4><p>2 rue de l\'Oiselière<br><a href="tel:+33664686568">06 64 68 65 68</a></p></div>'}
        ).open(map, sam);
    });

    var bbb = new google.maps.Marker(
        {position: steps[2], map: map, title: 'Chez Benjamin', animation: google.maps.Animation.DROP,
        label: '2'}
    );
    bbb.addListener('click', function() {
        new google.maps.InfoWindow(
        {content: '<div><h4>2. BBB</h4><p>11 rue Mottet de Gérando<br><a href="tel:+33605041666">06 05 04 16 66</a></p></div>'}
        ).open(map, bbb);
    });

    var julie = new google.maps.Marker(
        {position: steps[3], map: map, title: 'Chez Julie', animation: google.maps.Animation.DROP,
        label: '3'}
    );
    julie.addListener('click', function() {
        new google.maps.InfoWindow(
        {content: '<div><h4>3. Julie</h4><p>1 rue Santos Dumont<br><a href="tel:+33677735208">06 77 73 52 08</p></div>'}
        ).open(map, julie);
    });

    var fdp = new google.maps.Marker(
        {position: steps[4], map: map, title: 'Chez Joan', animation: google.maps.Animation.DROP,
        label: '4'}
    );
    fdp.addListener('click', function() {
        new google.maps.InfoWindow(
        {content: '<div><h4>4. AifeDesPaix</h4><p>40 rue Villon<br><a href="tel:+33640605718">06 40 60 57 18</a></p></div>'}
        ).open(map, fdp);
    });

    var baptou = new google.maps.Marker(
        {position: steps[5], map: map, title: 'Chez Baptiste', animation: google.maps.Animation.DROP,
        label: '5'}
    );
    baptou.addListener('click', function() {
        new google.maps.InfoWindow(
        {content: '<div><h4>5. Baptou</h4><p>122 rue Jean Jaurès<br><a href="tel:+33615331175">06 15 33 11 75</a></p></div>'}
        ).open(map, baptou);
    });
}
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9uAZiNr9tAg4Y_Vc3xvlpFsCVBB2goEw&callback=initMap">
</script>
{% endblock %}